xsd2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!--

     $Id: mkb-sales-tool-model-type.xsd 65695 2011-08-09 14:23:21Z tbi $
     $Revision: 65695 $

     MKB Sales Tool Webservice - Types XSD

     (c) 2010-2011 / inverso Gesellschaft für innovative Versicherungssoftware mbH

     modositasok az eredetihez kepest:
     - severity tipus letrehozasa. BMMessage-hez kell.
--><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://i3s.inverso.de/mkb/sales/tool/model/type" targetNamespace="http://i3s.inverso.de/mkb/sales/tool/model/type" version="1.0">

  <!-- - - - SimpleTypeSection - - - - -->

  <!-- Type "addressType" -->
  <simpleType name="addressType">
    <restriction base="token">
      <enumeration value="H">
        <annotation>
          <documentation>EN: "Primary address." DE: "Hauptadresse." HU: "Elsodleges cim."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>EN: "Secondary address." DE: "Nebenadresse." HU: "Masodlagos cim."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "bankAccount" -->
  <simpleType name="bankAccount">
    <restriction base="token">
      <pattern value="[0-9A-Za-z]{1,34}" />
    </restriction>
  </simpleType>

  <!-- Type "bookingFrequency" -->
  <simpleType name="bookingFrequency">
    <restriction base="token">
      <enumeration value="48">
        <annotation>
          <documentation>EN: "Monthly." DE: "Monatlich." HU: "Havi."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="49">
        <annotation>
          <documentation>EN: "Every quarter." DE: "Quartalsma?ig." HU: "Negyedevente."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>EN: "Half Yearly." DE: "Halbjahrlich." HU: "Feleves."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="51">
        <annotation>
          <documentation>EN: "Annually." DE: "Jahrlich." HU: "Evente."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "boolean" -->
  <simpleType name="boolean">
    <restriction base="token">
      <enumeration value="Y" />
      <enumeration value="N" />
    </restriction>
  </simpleType>

  <!-- Type "changeReason" -->
  <simpleType name="changeReason">
    <restriction base="token">
      <enumeration value="1">
        <annotation>
          <documentation>EN: "New contract." DE: "Neuer Vertrag." HU: "Uj szerzodes."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "clause" -->
  <simpleType name="clause">
    <restriction base="token">
      <enumeration value="AEN">
        <annotation>
          <documentation>EN: "Clause AEN." DE: "Klausel AEN." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ADB">
        <annotation>
          <documentation>EN: "Clause ADB." DE: "Klausel ADB." HU: "."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "contractNumber" -->
  <simpleType name="contractNumber">
    <restriction base="token">
      <pattern value="[0-9A-Za-z]{1,15}" />
    </restriction>
  </simpleType>

  <!-- Type "countryCode" -->
  <simpleType name="countryCode">
    <restriction base="token">
      <enumeration value="A">
        <annotation>
          <documentation>EN: "Austria." DE: "Österreich." HU: "Ausztria."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ADN">
        <annotation>
          <documentation>EN: "Yemen (People's Republic)." DE: "Jemen (Volksrepublik)." HU: "Jemen (Nepkoztarsasag)."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AFG">
        <annotation>
          <documentation>EN: "Afghanistan." DE: "Afghanistan." HU: "Afganisztan."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AL">
        <annotation>
          <documentation>EN: "Albania." DE: "Albanien." HU: "Albania."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AN">
        <annotation>
          <documentation>EN: "Angola." DE: "Angola." HU: "Angola."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AND">
        <annotation>
          <documentation>EN: "Andorra." DE: "Andorra." HU: "Andorra."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ARM">
        <annotation>
          <documentation>EN: "Armenia." DE: "Armenien." HU: "Ormenyorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AT">
        <annotation>
          <documentation>EN: "Antarctic Territory." DE: "Antarktis-Territorium." HU: "Antarktiszi Terulet."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AUS">
        <annotation>
          <documentation>EN: "Australia." DE: "Australien." HU: "Ausztraliaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>EN: "Belgium." DE: "Belgien." HU: "Belgium."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BD">
        <annotation>
          <documentation>EN: "Bangladesh." DE: "Bangladesh." HU: "Bangladesben."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BDS">
        <annotation>
          <documentation>EN: "Barbados." DE: "Barbados." HU: "Barbados."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BG">
        <annotation>
          <documentation>EN: "Bulgaria." DE: "Bulgarien." HU: "Bulgariaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BH">
        <annotation>
          <documentation>EN: "Belize." DE: "Belize." HU: "Belize-ben."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BIH">
        <annotation>
          <documentation>EN: "Bosnia-Herzegovina." DE: "Bosnien-Herzegowina." HU: "Bosznia-Hercegovina."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BM">
        <annotation>
          <documentation>EN: "Bermuda." DE: "Bermudas." HU: "Bermuda."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BOL">
        <annotation>
          <documentation>EN: "Bolivia." DE: "Bolivien." HU: "Bolivia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BR">
        <annotation>
          <documentation>EN: "Brazil." DE: "Brasilien." HU: "Brazilia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BRN">
        <annotation>
          <documentation>EN: "Bahrain." DE: "Bahrain." HU: "Bahrein."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BRU">
        <annotation>
          <documentation>EN: "Brunei." DE: "Brunei." HU: "Brunei."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BS">
        <annotation>
          <documentation>EN: "Bahamas." DE: "Bahamas." HU: "Bahama-szigetek."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BU">
        <annotation>
          <documentation>EN: "Burundi." DE: "Burundi." HU: "Burundi."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BUR">
        <annotation>
          <documentation>EN: "Myanmar." DE: "Myanmar." HU: "Mianmarban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BY">
        <annotation>
          <documentation>EN: "Belarus." DE: "Wei?russland." HU: "Feheroroszorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <documentation>EN: "Cuba." DE: "Cuba." HU: "Kuba."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CAM">
        <annotation>
          <documentation>EN: "Cameroon." DE: "Kamerun." HU: "Kamerun."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CAN">
        <annotation>
          <documentation>EN: "Canada." DE: "Kanada." HU: "Kanadaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CH">
        <annotation>
          <documentation>EN: "Switzerland." DE: "Schweiz." HU: "Svajc."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CI">
        <annotation>
          <documentation>EN: "Ivory Coast." DE: "Elfenbeinkuste." HU: "Elefantcsontpart."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CL">
        <annotation>
          <documentation>EN: "Sri Lanka." DE: "Sri Lanka." HU: "Sri Lanka."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CN">
        <annotation>
          <documentation>EN: "People's Republic of China." DE: "Volksrepublik China." HU: "Nepi Kina."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CNB">
        <annotation>
          <documentation>EN: "Sabah." DE: "Sabah." HU: "Sabah."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CO">
        <annotation>
          <documentation>EN: "Colombia." DE: "Kolumbien." HU: "Kolumbia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CR">
        <annotation>
          <documentation>EN: "Costa Rica." DE: "Costa Rica." HU: "Costa Rica."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CU">
        <annotation>
          <documentation>EN: "Curacao." DE: "Curacao." HU: "Curacao."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CY">
        <annotation>
          <documentation>EN: "Cyprus." DE: "Zypern." HU: "Ciprus."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CZ">
        <annotation>
          <documentation>EN: "Czech Republic." DE: "Tschechische Republik." HU: "Cseh Koztarsasag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D">
        <annotation>
          <documentation>EN: "Germany." DE: "Deutschland." HU: "Nemetorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DK">
        <annotation>
          <documentation>EN: "Denmark." DE: "Danemark." HU: "Dania."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DOM">
        <annotation>
          <documentation>EN: "Dominican Republic." DE: "Dominikanische Republik." HU: "Dominikai Koztarsasag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DZ">
        <annotation>
          <documentation>EN: "Algeria." DE: "Algerien." HU: "Algeria."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>EN: "Spain." DE: "Spanien." HU: "Spanyolorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EAK">
        <annotation>
          <documentation>EN: "Kenya." DE: "Kenia." HU: "Kenyaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EAT">
        <annotation>
          <documentation>EN: "Tanzania." DE: "Tansania." HU: "Tanzania."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EAU">
        <annotation>
          <documentation>EN: "Uganda." DE: "Uganda." HU: "Uganda."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EAZ">
        <annotation>
          <documentation>EN: "Zanzibar." DE: "Zanzibar." HU: "Zanzibar."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EC">
        <annotation>
          <documentation>EN: "Ecuador." DE: "Ecuador." HU: "Ecuador."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EST">
        <annotation>
          <documentation>EN: "Estonia." DE: "Estland." HU: "Esztorszagban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ET">
        <annotation>
          <documentation>EN: "Egypt." DE: "Agypten." HU: "Egyiptom."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ETH">
        <annotation>
          <documentation>EN: "Ethiopia." DE: "Athiopien." HU: "Etiopia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>EN: "France." DE: "Frankreich." HU: "Franciaorszagban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FIN">
        <annotation>
          <documentation>EN: "Finland." DE: "Finnland." HU: "Finnorszagban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FJI">
        <annotation>
          <documentation>EN: "Fiji." DE: "Fidschi." HU: "Fidzsi-szigetek."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FL">
        <annotation>
          <documentation>EN: "Liechtenstein." DE: "Liechtenstein." HU: "Liechtenstein."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FR">
        <annotation>
          <documentation>EN: "Faroe." DE: "Faror." HU: "Feroer."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GB">
        <annotation>
          <documentation>EN: "United Kingdom." DE: "Gro?britannien." HU: "Egyesult Kiralysag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GCA">
        <annotation>
          <documentation>EN: "Guatemala." DE: "Guatemala." HU: "Guatemala."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GH">
        <annotation>
          <documentation>EN: "Ghana." DE: "Ghana." HU: "Ghana."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GNB">
        <annotation>
          <documentation>EN: "Guinea." DE: "Guinea." HU: "Guinea."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GR">
        <annotation>
          <documentation>EN: "Greece." DE: "Griechenland." HU: "Gorogorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GUY">
        <annotation>
          <documentation>EN: "Guyana." DE: "Guyana." HU: "Guyana."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="H">
        <annotation>
          <documentation>EN: "Hungary." DE: "Ungarn." HU: "Magyarorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HK">
        <annotation>
          <documentation>EN: "Hong Kong." DE: "Hongkong." HU: "Hong Kong."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HKJ">
        <annotation>
          <documentation>EN: "Jordan." DE: "Jordanien." HU: "Jordan."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HO">
        <annotation>
          <documentation>EN: "Honduras." DE: "Honduras." HU: "Honduras."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HR">
        <annotation>
          <documentation>EN: "Croatia." DE: "Kroatien." HU: "Horvatorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="I">
        <annotation>
          <documentation>EN: "Italy." DE: "Italien." HU: "Olaszorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IL">
        <annotation>
          <documentation>EN: "Israel." DE: "Israel." HU: "Izraelben."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IND">
        <annotation>
          <documentation>EN: "India." DE: "Indien." HU: "India."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IR">
        <annotation>
          <documentation>EN: "Islamic Republic of Iran." DE: "Islamische Republik Iran." HU: "Irani Iszlam Koztarsasag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IRL">
        <annotation>
          <documentation>EN: "Ireland." DE: "Irland." HU: "Irorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IRQ">
        <annotation>
          <documentation>EN: "Iraq." DE: "Irak." HU: "Irakban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IS">
        <annotation>
          <documentation>EN: "Iceland." DE: "Island." HU: "Izland."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="J">
        <annotation>
          <documentation>EN: "Japan." DE: "Japan." HU: "Japanban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="JA">
        <annotation>
          <documentation>EN: "Jamaica." DE: "Jamaika." HU: "Jamaica."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>EN: "Cambodia." DE: "Kambodscha." HU: "Kambodzsa."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KO">
        <annotation>
          <documentation>EN: "North Korea." DE: "Nord Korea." HU: "Eszak-Korea."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KWT">
        <annotation>
          <documentation>EN: "Kuwait." DE: "Kuwait." HU: "Kuvait."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KZ">
        <annotation>
          <documentation>EN: "Kazakhstan." DE: "Kasachstan." HU: "Kazahsztan."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="L">
        <annotation>
          <documentation>EN: "Luxembourg." DE: "Luxemburg." HU: "Luxembourg."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LAO">
        <annotation>
          <documentation>EN: "Laos." DE: "Laos." HU: "Laoszban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LAR">
        <annotation>
          <documentation>EN: "Libya." DE: "Libyen." HU: "Libia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LB">
        <annotation>
          <documentation>EN: "Lieberia." DE: "Lieberia." HU: "Lieberia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LR">
        <annotation>
          <documentation>EN: "Latvia." DE: "Lettland." HU: "Lettorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LS">
        <annotation>
          <documentation>EN: "Lesotho." DE: "Lesotho." HU: "Lesotho."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LT">
        <annotation>
          <documentation>EN: "Lithuania." DE: "Litauen." HU: "Litvania."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>EN: "Malta." DE: "Malta." HU: "Maltan."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MA">
        <annotation>
          <documentation>EN: "Morocco." DE: "Marokko." HU: "Marokko."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MAL">
        <annotation>
          <documentation>EN: "Malaysia." DE: "Malaysia." HU: "Malajziaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MC">
        <annotation>
          <documentation>EN: "Monaco." DE: "Monaco." HU: "Monaco."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MEX">
        <annotation>
          <documentation>EN: "Mexico." DE: "Mexiko." HU: "Mexikoban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MK">
        <annotation>
          <documentation>EN: "Macedonia." DE: "Mazedonien." HU: "Macedonia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MOC">
        <annotation>
          <documentation>EN: "Mozambique." DE: "Mozambique." HU: "Mozambik."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MS">
        <annotation>
          <documentation>EN: "Mauritius." DE: "Mauritius." HU: "Mauritius."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MW">
        <annotation>
          <documentation>EN: "Malawi." DE: "Malawi." HU: "Malawi."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>EN: "Norway." DE: "Norwegen." HU: "Norvegiaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NA">
        <annotation>
          <documentation>EN: "Netherlands Antilles." DE: "Niederlandische Antillen." HU: "Holland Antillak."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NL">
        <annotation>
          <documentation>EN: "Netherlands." DE: "Niederlande." HU: "Hollandiaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NZ">
        <annotation>
          <documentation>EN: "New Zealand." DE: "Neuseeland." HU: "Uj-Zeland."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>EN: "Portugal." DE: "Portugal." HU: "Portugaliaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PA">
        <annotation>
          <documentation>EN: "Panama." DE: "Panama." HU: "Panama."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PE">
        <annotation>
          <documentation>EN: "Peru." DE: "Peru." HU: "Peru."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PK">
        <annotation>
          <documentation>EN: "Pakistan." DE: "Pakistan." HU: "Pakisztan."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PL">
        <annotation>
          <documentation>EN: "Poland." DE: "Polen." HU: "Lengyelorszagban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PNG">
        <annotation>
          <documentation>EN: "Papua New Guinea." DE: "Papua Neuguinea." HU: "Papua Uj-Guinea."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PR">
        <annotation>
          <documentation>EN: "Puerto Rico." DE: "Puerto Rico." HU: "Puerto Rico."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PY">
        <annotation>
          <documentation>EN: "Paraguay." DE: "Paraguay." HU: "Paraguay."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RA">
        <annotation>
          <documentation>EN: "Argentina." DE: "Argentinien." HU: "Argentina."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RB">
        <annotation>
          <documentation>EN: "Botswana." DE: "Botswana." HU: "Botswana."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RC">
        <annotation>
          <documentation>EN: "Taiwan." DE: "Taiwan." HU: "Tajvant."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RCA">
        <annotation>
          <documentation>EN: "Central Africa." DE: "Zentralafrika." HU: "Kozep-Afrikaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RCB">
        <annotation>
          <documentation>EN: "Congo." DE: "Kongo." HU: "Kongo."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RCH">
        <annotation>
          <documentation>EN: "Chile." DE: "Chile." HU: "Chile."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RDU">
        <annotation>
          <documentation>EN: "Uruguay." DE: "Uruguay." HU: "Uruguay."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RH">
        <annotation>
          <documentation>EN: "Haiti." DE: "Haiti." HU: "Haiti."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RI">
        <annotation>
          <documentation>EN: "Indonesia." DE: "Indonesien." HU: "Indoneziaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RIM">
        <annotation>
          <documentation>EN: "Mauritania." DE: "Mauretanien." HU: "Mauritaniaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RL">
        <annotation>
          <documentation>EN: "Libanon." DE: "Libanon." HU: "Libanonban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RM">
        <annotation>
          <documentation>EN: "Madagaskar." DE: "Madagaskar." HU: "Madagaszkar."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RMM">
        <annotation>
          <documentation>EN: "Mali." DE: "Mali." HU: "Maliban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RN">
        <annotation>
          <documentation>EN: "Niger." DE: "Niger." HU: "Niger."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RO">
        <annotation>
          <documentation>EN: "Romania." DE: "Rumanien." HU: "Romania."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ROK">
        <annotation>
          <documentation>EN: "Korea." DE: "Korea." HU: "Korea."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RP">
        <annotation>
          <documentation>EN: "Philippines." DE: "Philippinen." HU: "Fulop-szigetek."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RPB">
        <annotation>
          <documentation>EN: "Benin." DE: "Benin." HU: "Benin."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RSM">
        <annotation>
          <documentation>EN: "San Marino." DE: "San Marino." HU: "San Marino."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RUS">
        <annotation>
          <documentation>EN: "Russia." DE: "Russland." HU: "Oroszorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RWA">
        <annotation>
          <documentation>EN: "Rwanda." DE: "Ruanda." HU: "Ruandaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>EN: "Sweden." DE: "Schweden." HU: "Svedorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SA">
        <annotation>
          <documentation>EN: "Saudi Arabia." DE: "Saudiarabien." HU: "Szaud-Arabia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SCV">
        <annotation>
          <documentation>EN: "Vatican." DE: "Vatikan." HU: "Vatikan."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SD">
        <annotation>
          <documentation>EN: "Swaziland." DE: "Swasiland." HU: "Szvazifold."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SGP">
        <annotation>
          <documentation>EN: "Singapore." DE: "Singapur." HU: "Szingapurban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SK">
        <annotation>
          <documentation>EN: "Slovak Republic." DE: "Slowakische Republik." HU: "Szlovak Koztarsasag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SLO">
        <annotation>
          <documentation>EN: "Slovenia." DE: "Slowenien." HU: "Szlovenia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SME">
        <annotation>
          <documentation>EN: "Surinam." DE: "Surinam." HU: "Suriname."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SN">
        <annotation>
          <documentation>EN: "Senegal." DE: "Senegal." HU: "Szenegal."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SON">
        <annotation>
          <documentation>EN: "Other States" DE: "Sonstige Staaten." HU: "Mas allamokkal."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SUD">
        <annotation>
          <documentation>EN: "Sudan." DE: "Sudan." HU: "Szudan."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SWA">
        <annotation>
          <documentation>EN: "Namibia." DE: "Namibia." HU: "Namibia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SY">
        <annotation>
          <documentation>EN: "Seychelles." DE: "Seychellen." HU: "Seychelle-szigetek."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SYR">
        <annotation>
          <documentation>EN: "Syria." DE: "Syrien." HU: "Sziria."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TG">
        <annotation>
          <documentation>EN: "Tonga." DE: "Tonga." HU: "Tonga."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TH">
        <annotation>
          <documentation>EN: "Thailand." DE: "Thailand." HU: "Thaifold."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TN">
        <annotation>
          <documentation>EN: "Tunisia." DE: "Tunesien." HU: "Tunezia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TR">
        <annotation>
          <documentation>EN: "Turkey." DE: "Turkei." HU: "Torokorszag."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TT">
        <annotation>
          <documentation>EN: "Trinidad." DE: "Trinidad." HU: "Trinidad."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UAE">
        <annotation>
          <documentation>EN: "United Arab Emirates." DE: "Vereinigte Arabische Emirate." HU: "Egyesult Arab Emirsegek."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USA">
        <annotation>
          <documentation>EN: "USA." DE: "USA." HU: "Amerikai Egyesult Allamok."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VN">
        <annotation>
          <documentation>EN: "Vietnam." DE: "Vietnam." HU: "Vietnam."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WAG">
        <annotation>
          <documentation>EN: "Gambia." DE: "Gambia." HU: "Gambia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WAL">
        <annotation>
          <documentation>EN: "Sierra Leone." DE: "Sierra Leone." HU: "Sierra Leone."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WAN">
        <annotation>
          <documentation>EN: "Nigeria." DE: "Nigeria." HU: "Nigeria."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WD">
        <annotation>
          <documentation>EN: "Dominica." DE: "Dominika." HU: "Dominika."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WG">
        <annotation>
          <documentation>EN: "Grenada." DE: "Grenada." HU: "Grenada."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WL">
        <annotation>
          <documentation>EN: "St. Lucia." DE: "St. Lucia." HU: "St. Lucia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WS">
        <annotation>
          <documentation>EN: "Western Samoa." DE: "Westsamoa." HU: "Nyugat-Szamoa."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WV">
        <annotation>
          <documentation>EN: "St. Vincent." DE: "St. Vincent." HU: "St. Vincent."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Y">
        <annotation>
          <documentation>EN: "Venezuela." DE: "Venezuela." HU: "Venezuela."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="YMN">
        <annotation>
          <documentation>EN: "North Yemen." DE: "Nordjemen." HU: "Eszak-Jemen."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="YU">
        <annotation>
          <documentation>EN: "Yugoslavia." DE: "Jugoslawien." HU: "Jugoszlavia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Z">
        <annotation>
          <documentation>EN: "Zambia." DE: "Sambia." HU: "Zambia."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ZA">
        <annotation>
          <documentation>EN: "South Africa." DE: "Sudafrika." HU: "Del-Afrikaban."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ZRE">
        <annotation>
          <documentation>EN: "Zaire." DE: "Zaire." HU: "Zaire."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ZU">
        <annotation>
          <documentation>EN: "Uzbekistan." DE: "Usbekistan." HU: "Uzbegisztan."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ZW">
        <annotation>
          <documentation>EN: "Zimbabwe." DE: "Simbabwe." HU: "Zimbabwe."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "coverageType" -->
  <simpleType name="coverageType">
    <restriction base="token">
      <!-- Type "Casco" -->
      <enumeration value="IF09">
        <annotation>
          <documentation>Integrated full</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IP09">
        <annotation>
          <documentation>Integrated partiell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TL10">
        <annotation>
          <documentation>Total loss casco</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CA10">
        <annotation>
          <documentation> normal Casco used with vehicleTyp 10 and 14</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CA11">
        <annotation>
          <documentation>normal Casco used with vehicleType 120</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GP09">
        <annotation>
          <documentation>Baggage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GP11">
        <annotation>
          <documentation>baggage coverage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IU09">
        <annotation>
          <documentation>Occupant Accident</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IU11">
        <annotation>
          <documentation>accident coverage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KGFB11">
        <annotation>
          <documentation>???</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KGFB11A">
        <annotation>
          <documentation>???</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KHK11">
        <annotation>
          <documentation>???</documentation>
        </annotation>
      </enumeration>
      <!-- Type "Home" -->
      <enumeration value="UNF">
        <annotation>
          <documentation>Accident</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PH01">
        <annotation>
          <documentation>Private Liability</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WGB">
        <annotation>
          <documentation>Residental Building Insurance</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WGB01">
        <annotation>
          <documentation>Extended Glass Coverage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WGB02">
        <annotation>
          <documentation>Special Glass Coverage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WGB03">
        <annotation>
          <documentation>Extended Residental Building Insurance</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WGB04">
        <annotation>
          <documentation>Aqua Coverage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HR01">
        <annotation>
          <documentation>Household Insurance</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HR02">
        <annotation>
          <documentation>Extended Household Insurance</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HR03">
        <annotation>
          <documentation>Valuable Insurance</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HR04">
        <annotation>
          <documentation>Extended Valuable Insurance</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HR06">
        <annotation>
          <documentation>Special Glass Coverage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HR07">
        <annotation>
          <documentation>Production Facility Insurance</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HR08">
        <annotation>
          <documentation>Aqua Coverage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HR09">
        <annotation>
          <documentation>Extended Production Facility Insurance</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "email" -->
  <simpleType name="email">
    <restriction base="token">
      <pattern value="[^@]+@[^\.]+\..+" />
    </restriction>
  </simpleType>

  <!-- Type "errorCode" -->
  <simpleType name="errorCode">
    <restriction base="token">
      <pattern value="[0-9]{1,}" />
    </restriction>
  </simpleType>

  <!-- Type "falseTrue" -->
  <simpleType name="falseTrue">
    <restriction base="token">
      <enumeration value="0">
        <annotation>
          <documentation>EN: "no" DE: "nein" HU: "nem"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>EN: "yes" DE: "ja" HU: "igen"</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "gender" -->
  <simpleType name="gender">
    <restriction base="token">
      <enumeration value="M">
        <annotation>
          <documentation>EN: "Male." DE: "Mannlich." HU: "Ferfi."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="W">
        <annotation>
          <documentation>EN: "Female." DE: "Weiblich." HU: "No."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "language" -->
  <simpleType name="language">
    <restriction base="token">
      <enumeration value="EN">
        <annotation>
          <documentation>EN: "English." DE: "Englisch." HU: "Angol."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DE">
        <annotation>
          <documentation>EN: "German." DE: "Deutsch." HU: "Nemet."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HU">
        <annotation>
          <documentation>EN: "Hungarian." DE: "Ungarisch." HU: "Magyar."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "severity" -->
  <simpleType name="severity">
    <restriction base="token">
      <enumeration value="INFO">
        <annotation>
          <documentation>EN: "." DE: "." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WARNING">
        <annotation>
          <documentation>EN: "." DE: "." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ERROR">
        <annotation>
          <documentation>EN: "." DE: "." HU: "."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "loanCreditor" -->
  <simpleType name="loanCreditor">
    <restriction base="token">
      <minLength value="1" />
      <maxLength value="50" />
    </restriction>
  </simpleType>

  <!-- Type "loanNumber" -->
  <simpleType name="loanNumber">
    <restriction base="token">
      <pattern value="[0-9A-Za-z ]{1,50}" />
    </restriction>
  </simpleType>

  <!-- Type "messageNumber" -->
  <simpleType name="messageNumber">
    <restriction base="token">
      <pattern value="[0-9A-Za-z\.-]{1,80}" />
    </restriction>
  </simpleType>

  <!-- Type "natural1x11" -->
  <simpleType name="natural1x11">
    <restriction base="token">
      <pattern value="[1-9]{1}[0-9]{0,10}" />
    </restriction>
  </simpleType>

  <!-- Type "natural1x15" -->
  <simpleType name="natural1x15">
    <restriction base="token">
      <pattern value="[1-9]{1}[0-9]{1,14}" />
    </restriction>
  </simpleType>

  <!-- Type "natural1x3" -->
  <simpleType name="natural1x3">
    <restriction base="token">
      <pattern value="[1-9]{1}[0-9]{0,2}" />
    </restriction>
  </simpleType>

  <!-- Type "natural1x5" -->
  <simpleType name="natural1x5">
    <restriction base="token">
      <pattern value="[1-9]{1}[0-9]{0,4}" />
    </restriction>
  </simpleType>

  <!-- Type "natural4" -->
  <simpleType name="natural4">
    <restriction base="token">
      <pattern value="[0-9]{4}" />
    </restriction>
  </simpleType>

  <!-- Type "natural7x9" -->
  <simpleType name="natural7x9">
    <restriction base="token">
      <pattern value="[1-9]{1}[0-9]{6,8}" />
    </restriction>
  </simpleType>

  <!-- Type "partnerEntity" -->
  <simpleType name="partnerEntity">
    <restriction base="token">
      <enumeration value="61">
        <annotation>
          <documentation>EN: "Private person." DE: "Privatperson." HU: "Maganszemely."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="71">
        <annotation>
          <documentation>EN: "?" DE: "?" HU: "?"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="72">
        <annotation>
          <documentation>EN: "?" DE: "?" HU: "?"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="81">
        <annotation>
          <documentation>EN: "?" DE: "?" HU: "?"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="82">
        <annotation>
          <documentation>EN: "?" DE: "?" HU: "?"</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "partnerLiability" -->
  <simpleType name="partnerLiability">
    <restriction base="token">
      <enumeration value="VN">
        <annotation>
          <documentation>EN: "Policyholder." DE: "Versicherungsnehmer." HU: "Kotvenytulajdonosok."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIG">
        <annotation>
          <documentation>EN: "Warrantor." DE: "Sicherungsgeber." HU: "Szavatos."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VP">
        <annotation>
          <documentation>EN: "Insured Person." DE: "Versicherte Person." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="POE">
        <annotation>
          <documentation>EN: "Post recipient." DE: "Postempfaenger." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FAH">
        <annotation>
          <documentation>EN: "Driver." DE: "Fahrer." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HAL">
        <annotation>
          <documentation>EN: "Operator." DE: "Halter." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BES">
        <annotation>
          <documentation>EN: "Owner." DE: "Eigentümer." HU: "."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "paymentMethod" -->
  <simpleType name="paymentMethod">
    <restriction base="token">
      <enumeration value="0">
        <annotation>
          <documentation>EN: "Money transfer." DE: "Geldtransfer." HU: "Penz atutalas."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>EN: "Bankcollection." DE: "Bank-Sammlung." HU: "Bank gyujtemeny."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>EN: "Post check." DE: "Postscheck." HU: "Post ellenorzes."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "phone" -->
  <simpleType name="phone">
    <restriction base="token">
      <pattern value="(\+|00)[1-9]{1}[0-9 ]{9,}" />
    </restriction>
  </simpleType>

  <!-- Type "postRecipientAddressId" -->
  <simpleType name="postRecipientAddressId">
    <restriction base="token">
      <pattern value="[1-4]{1}" />
    </restriction>
  </simpleType>

  <!-- Type "printContainerIdentified" -->
  <complexType name="printContainerIdentified">
    <all>
      <element ref="tns:proposalNumber" />
      <element ref="tns:reportNumber" />
      <element minOccurs="0" ref="tns:printData" />
    </all>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "printRequest" -->
  <complexType name="printRequest">
    <sequence>
      <element maxOccurs="1" ref="tns:header" />
      <element maxOccurs="1" ref="tns:print" />
    </sequence>
  </complexType>

  <!-- Type "printResponse" -->
  <complexType name="printResponse">
    <sequence>
      <element maxOccurs="1" ref="tns:header" />
      <element maxOccurs="1" ref="tns:print" />
      <element minOccurs="0" ref="tns:errorList" />
    </sequence>
  </complexType>

  <!-- Type "product" -->
  <simpleType name="product">
    <restriction base="token">
      <enumeration value="41">
        <annotation>
          <documentation>EN: "Casco." DE: "Casco." HU: "Casco."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SACH">
        <annotation>
          <documentation>EN: "Special contract." DE: "Sondervertrag Sach." HU: "."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "reportNumber" -->
  <simpleType name="reportNumber">
    <restriction base="token">
      <enumeration value="1">
        <annotation>
          <documentation>EN: "Proposal." DE: "Vorschlag." HU: "Javaslat."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "string1x10" -->
  <simpleType name="string1x10">
    <restriction base="normalizedString">
      <pattern value="[\p{L}\p{N}\p{Z}\p{P}]{1,10}" />
    </restriction>
  </simpleType>

  <!-- Type "string1x20" -->
  <simpleType name="string1x20">
    <restriction base="normalizedString">
      <pattern value="[\p{L}\p{N}\p{Z}\p{P}]{1,20}" />
    </restriction>
  </simpleType>

  <!-- Type "string1x200" -->
  <simpleType name="string1x200">
    <restriction base="normalizedString">
      <pattern value="[\p{L}\p{N}\p{Z}\p{P}]{1,200}" />
    </restriction>
  </simpleType>

  <!-- Type "string1x30" -->
  <simpleType name="string1x30">
    <restriction base="normalizedString">
      <pattern value="[\p{L}\p{N}\p{Z}\p{P}]{1,30}" />
    </restriction>
  </simpleType>

  <!-- Type "string1x4" -->
  <simpleType name="string1x4">
    <restriction base="normalizedString">
      <pattern value="[\p{L}\p{N}\p{Z}\p{P}]{1,4}" />
    </restriction>
  </simpleType>

  <!-- Type "string1x70" -->
  <simpleType name="string1x70">
    <restriction base="normalizedString">
      <pattern value="[\p{L}\p{N}\p{Z}\p{P}]{1,70}" />
    </restriction>
  </simpleType>

  <!-- Type "taxNumber" -->
  <simpleType name="taxNumber">
    <restriction base="string">
      <pattern value="[0-9-]{1,25}" />
    </restriction>
  </simpleType>

  <!-- Type "title" -->
  <simpleType name="title">
    <restriction base="token">
      <enumeration value="1">
        <annotation>
          <documentation>EN: "Doctor." DE: "Doktor." HU: "Doktor."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>EN: "Professor." DE: "Professor." HU: "Professzor."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>EN: "Professor Doctor." DE: "Professor Doktor." HU: "Professzor Doktor."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>EN: "Junior." DE: "Junior." HU: "Junior."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>EN: "Senior." DE: "Senior." HU: "Senior."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>EN: "Widow." DE: "Witwe." HU: "Ozvegy."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "valuta" -->
  <simpleType name="valuta">
    <restriction base="token">
      <enumeration value="HUF">
        <annotation>
          <documentation>EN: "The Hungarian forint." DE: "Der ungarische Forint." HU: "A magyar forint."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "version" -->
  <simpleType name="version">
    <restriction base="token">
      <enumeration value="1.0">
        <annotation>
          <documentation>EN: "First version." DE: "Erste Version." HU: "Elso valtozat."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- - - - - ComplexTypeSection - - - -->

  <!-- Type "addressIdentified" -->
  <complexType name="addressIdentified">
    <all>
      <element ref="tns:addressType" />
      <element ref="tns:streetHouse" />
      <element ref="tns:zip" />
      <element ref="tns:city" />
      <element ref="tns:country" />
    </all>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "addressList" -->
  <complexType name="addressListIdentified">
    <sequence>
      <element maxOccurs="4" minOccurs="1" ref="tns:address" />
    </sequence>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "addressTypeIdentified" -->
  <complexType name="addressTypeIdentified">
    <simpleContent>
      <extension base="tns:addressType">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "bankAccountIdentified" -->
  <complexType name="bankAccountIdentified">
    <simpleContent>
      <extension base="tns:bankAccount">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "bookingFrequencyIdentified" -->
  <complexType name="bookingFrequencyIdentified">
    <simpleContent>
      <extension base="tns:bookingFrequency">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "booleanIdentified" -->
  <complexType name="booleanIdentified">
    <simpleContent>
      <extension base="tns:boolean">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "changeReasonIdentified" -->
  <complexType name="changeReasonIdentified">
    <simpleContent>
      <extension base="tns:changeReason">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "clauseIdentified" -->
  <complexType name="clauseIdentified">
    <simpleContent>
      <extension base="tns:clause">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "countryCodeIdentified" -->
  <complexType name="countryCodeIdentified">
    <simpleContent>
      <extension base="tns:countryCode">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "coverageTypeIdentified" -->
  <complexType name="coverageTypeIdentified">
    <simpleContent>
      <extension base="tns:coverageType">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "dateIdentified" -->
  <complexType name="dateIdentified">
    <simpleContent>
      <extension base="string">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "elementReference" -->
  <complexType name="elementReference">
    <simpleContent>
      <extension base="NCName">
        <attribute name="idref" type="IDREF" use="optional">
          <annotation>
            <documentation>EN: "Reference to the ID of the reference element." DE: "Referenz auf die ID des Bezugselementes." HU: "Hivatkozas az ID a referencia elem."</documentation>
          </annotation>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "emailIdentified" -->
  <complexType name="emailIdentified">
    <simpleContent>
      <extension base="tns:email">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "error" -->
  <complexType name="error">
    <all>
      <element name="errorCode" type="tns:errorCode">
        <annotation>
          <documentation>EN: "Error number." DE: "Felernummer." HU: "Hiba szama."</documentation>
        </annotation>
      </element>
      <element name="errorMessage" type="tns:string1x200">
        <annotation>
          <documentation>EN: "Error message." DE: "Fehlermeldung." HU: "Hibauzenet."</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="errorElement" type="tns:elementReference">
        <annotation>
          <documentation>EN: "Name of the faulty element with the ID." DE: "Name des fehlerhaften Elements mit der ID." HU: "Neve, a hibas elem az ID."</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="missingElement" type="NCName">
        <annotation>
          <documentation>EN: "Name of the missing element." DE: "Name des fehlendes Elements." HU: "Neve, a hianyzo elem."</documentation>
        </annotation>
      </element>
    </all>
  </complexType>

  <!-- Type "errorCodeIdentified" -->
  <complexType name="errorCodeIdentified">
    <simpleContent>
      <extension base="tns:errorCode">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "errorList" -->
  <complexType name="errorList">
    <sequence>
      <element maxOccurs="unbounded" ref="tns:error" />
    </sequence>
  </complexType>

  <!-- Type "falseTrueIdentified" -->
  <complexType name="falseTrueIdentified">
    <simpleContent>
      <extension base="tns:falseTrue">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "generalIdentified" -->
  <complexType name="generalIdentified">
    <all>
      <element maxOccurs="1" ref="tns:product" />
      <element maxOccurs="1" ref="tns:beginDate" />
      <element maxOccurs="1" ref="tns:mainDue" />
      <element maxOccurs="1" ref="tns:bookingFrequency" />
      <element maxOccurs="1" ref="tns:paymentMethod" />
      <element maxOccurs="1" minOccurs="0" ref="tns:valuta" />
      <element maxOccurs="1" minOccurs="0" ref="tns:changeReason" />
      <element maxOccurs="1" minOccurs="0" ref="tns:proposalNumber" />
      <element maxOccurs="1" minOccurs="0" ref="tns:duration" />
      <element maxOccurs="1" minOccurs="0" ref="tns:prepayment" />
      <element maxOccurs="1" minOccurs="0" ref="tns:dataRealityDecl" />
      <element maxOccurs="1" minOccurs="0" ref="tns:conditionAprovalDecl" />
      <element maxOccurs="1" minOccurs="0" ref="tns:dataHandlingDecl" />
      <element maxOccurs="1" minOccurs="0" ref="tns:eMailDecl" />
    </all>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "header" -->
  <complexType name="header">
    <all>
      <element ref="tns:version" />
      <element ref="tns:language" />
      <element ref="tns:agentNumber" />
      <element minOccurs="0" ref="tns:subAgentNumber" />
      <element ref="tns:signature" />
      <element ref="tns:messageNumber" />
      <element minOccurs="0" ref="tns:timestamp" />
    </all>
  </complexType>

  <!-- Type "genderIdentified" -->
  <complexType name="genderIdentified">
    <simpleContent>
      <extension base="tns:gender">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "languageIdentified" -->
  <complexType name="languageIdentified">
    <simpleContent>
      <extension base="tns:language">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "loanCreditorIdentified" -->
  <complexType name="loanCreditorIdentified">
    <simpleContent>
      <extension base="tns:loanCreditor">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "loanNumberIdentified" -->
  <complexType name="loanNumberIdentified">
    <simpleContent>
      <extension base="tns:loanNumber">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "messageNumberIdentified" -->
  <complexType name="messageNumberIdentified">
    <simpleContent>
      <extension base="tns:messageNumber">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "natural1x11Identified" -->
  <complexType name="natural1x11Identified">
    <simpleContent>
      <extension base="tns:natural1x11">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "natural1x15Identified" -->
  <complexType name="natural1x15Identified">
    <simpleContent>
      <extension base="tns:natural1x15">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "natural1-3Identified" -->
  <complexType name="natural1x3Identified">
    <simpleContent>
      <extension base="tns:natural1x3">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "natural1x5Identified" -->
  <complexType name="natural1x5Identified">
    <simpleContent>
      <extension base="tns:natural1x5">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "natural4Identified" -->
  <complexType name="natural4Identified">
    <simpleContent>
      <extension base="tns:natural4">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "natural7x9Identified" -->
  <complexType name="natural7x9Identified">
    <simpleContent>
      <extension base="tns:natural7x9">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "partnerEntityIdentified" -->
  <complexType name="partnerEntityIdentified">
    <simpleContent>
      <extension base="tns:partnerEntity">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "partnerIdentified" -->
  <complexType name="partnerIdentified">
    <all>
      <element minOccurs="0" ref="tns:partnerEntity" />
      <element minOccurs="0" ref="tns:partnerLiability" />
      <element minOccurs="0" ref="tns:gender" />
      <element minOccurs="0" ref="tns:title" />
      <element minOccurs="0" ref="tns:firstname" />
      <element minOccurs="0" ref="tns:lastname" />
      <element minOccurs="0" ref="tns:birthname" />
      <element minOccurs="0" ref="tns:mothersname" />
      <element minOccurs="0" ref="tns:birthDate" />
      <element minOccurs="0" ref="tns:birthplace" />
      <element ref="tns:zip" />
      <element minOccurs="0" ref="tns:citizenship" />
      <element minOccurs="0" ref="tns:residency" />
      <element minOccurs="0" ref="tns:phone" />
      <element minOccurs="0" ref="tns:phoneBusiness" />
      <element minOccurs="0" ref="tns:phoneMobil" />
      <element minOccurs="0" ref="tns:email" />
      <element minOccurs="0" ref="tns:bankAccount" />
      <element minOccurs="0" ref="tns:bankName" />
      <element minOccurs="0" ref="tns:taxNumber" />
      <element minOccurs="0" ref="tns:profession" />
      <element minOccurs="0" ref="tns:tradeRegister" />
      <element minOccurs="0" ref="tns:dmDecl" />
      <element minOccurs="0" ref="tns:postRecipientAddressId" />
      <element minOccurs="0" ref="tns:addressList" />
    </all>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "partnerLiabilityIdentified" -->
  <complexType name="partnerLiabilityIdentified">
    <simpleContent>
      <extension base="tns:partnerLiability">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "partnerListIdentified" -->
  <complexType name="partnerListIdentified">
    <sequence>
      <element maxOccurs="3" minOccurs="1" ref="tns:partner" />
    </sequence>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "paymentMethodIdentified" -->
  <complexType name="paymentMethodIdentified">
    <simpleContent>
      <extension base="tns:paymentMethod">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "phoneIdentified" -->
  <complexType name="phoneIdentified">
    <simpleContent>
      <extension base="tns:phone">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "postRecipientAddressIdIdentified" -->
  <complexType name="postRecipientAddressIdIdentified">
    <simpleContent>
      <extension base="tns:postRecipientAddressId">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "productIdentified" -->
  <complexType name="productIdentified">
    <simpleContent>
      <extension base="tns:product">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "reportNumberIdentified" -->
  <complexType name="reportNumberIdentified">
    <simpleContent>
      <extension base="tns:reportNumber">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "result" -->
  <complexType name="result">
    <all>
      <element ref="tns:resultCoverageList" />
      <element minOccurs="0" ref="tns:discountSum" />
      <element minOccurs="0" ref="tns:discountPercent" />
      <element minOccurs="0" ref="tns:surchargeSum" />
      <element minOccurs="0" ref="tns:surchargePercent" />
      <element minOccurs="0" ref="tns:installmentPremium" />
      <element minOccurs="0" ref="tns:yearlyPremium" />
    </all>
  </complexType>

  <!-- Type "resultCoverage" -->
  <complexType name="resultCoverage">
    <all>
      <element minOccurs="0" maxOccurs="1" ref="tns:coverageProductId" />
      <element minOccurs="0" maxOccurs="1" ref="tns:coverageBuildingId" />
      <element ref="tns:coverageType" />
      <element ref="tns:coveragePremium" />
    </all>
  </complexType>

  <!-- Type "resultCoverageList" -->
  <complexType name="resultCoverageList">
    <sequence>
      <element maxOccurs="unbounded" ref="tns:resultCoverage" />
    </sequence>
  </complexType>

  <!-- Type "signContainerIdentified" -->
  <complexType name="signContainerIdentified">
    <all>
      <element ref="tns:proposalNumber" />
      <element minOccurs="0" ref="tns:contractNumber" />
    </all>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "signRequest" -->
  <complexType name="signRequest">
    <sequence>
      <element maxOccurs="1" ref="tns:header" />
      <element maxOccurs="1" ref="tns:sign" />
    </sequence>
  </complexType>

  <!-- Type "signResponse" -->
  <complexType name="signResponse">
    <sequence>
      <element maxOccurs="1" ref="tns:header" />
      <element maxOccurs="1" ref="tns:sign" />
      <element minOccurs="0" ref="tns:errorList" />
    </sequence>
  </complexType>

  <!-- Type "string1x10Identfied" -->
  <complexType name="string1x10Identified">
    <simpleContent>
      <extension base="tns:string1x10">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "string1x20Identified" -->
  <complexType name="string1x20Identified">
    <simpleContent>
      <extension base="tns:string1x20">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "string1x200Identified" -->
  <complexType name="string1x200Identified">
    <simpleContent>
      <extension base="tns:string1x200">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "string1x30Identified" -->
  <complexType name="string1x30Identified">
    <simpleContent>
      <extension base="tns:string1x30">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "string1x4Identified" -->
  <complexType name="string1x4Identified">
    <simpleContent>
      <extension base="tns:string1x4">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "string1x70Identified" -->
  <complexType name="string1x70Identified">
    <simpleContent>
      <extension base="tns:string1x70">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "taxNumberIdentified" -->
  <complexType name="taxNumberIdentified">
    <simpleContent>
      <extension base="tns:taxNumber">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "titleIdentified" -->
  <complexType name="titleIdentified">
    <simpleContent>
      <extension base="tns:title">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "valutaIdentified" -->
  <complexType name="valutaIdentified">
    <simpleContent>
      <extension base="tns:valuta">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "versionIdentified" -->
  <complexType name="versionIdentified">
    <simpleContent>
      <extension base="tns:version">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Element "address" -->
  <element name="address" type="tns:addressIdentified">
    <annotation>
      <documentation>EN: "Address." DE: "Adresse." HU: "Cim."</documentation>
    </annotation>
  </element>

  <!-- Element "addressList" -->
  <element name="addressList" type="tns:addressListIdentified">
    <annotation>
      <documentation>EN: "Addresslist." DE: "Adressenliste." HU: "Levelezési lista."</documentation>
    </annotation>
  </element>

  <!-- Element "addressType" -->
  <element name="addressType" type="tns:addressTypeIdentified">
    <annotation>
      <documentation>EN: "Address type." DE: "Adre?typ." HU: "Cim tipusa."</documentation>
    </annotation>
  </element>

  <!-- Element "agentNumber" -->
  <element name="agentNumber" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Agent number." DE: "Vermittlernummer." HU: "Agent szama."</documentation>
    </annotation>
  </element>

  <!-- Element "bankAccount" -->
  <element name="bankAccount" type="tns:bankAccountIdentified">
    <annotation>
      <documentation>EN: "Bank account." DE: "Bankverbindung." HU: "Bankszamlajara."</documentation>
    </annotation>
  </element>

  <!-- Element "bankName" -->
  <element name="bankName" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Bank name." DE: "Bankbezeichnung." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "beginDate" -->
  <element name="beginDate" type="tns:dateIdentified">
    <annotation>
      <documentation>EN: "Insurance start date." DE: "Versicherungsbeginndatum." HU: "Kockazatviseles kezdete."</documentation>
    </annotation>
  </element>

  <!-- Element "birthDate" -->
  <element name="birthDate" type="tns:dateIdentified">
    <annotation>
      <documentation>EN: "Date of birth." DE: "Geburtsdatum." HU: "Szuletesi datum."</documentation>
    </annotation>
  </element>

  <!-- Element "birthname" -->
  <element name="birthname" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Birthname." DE: "Geburtsname." HU: "Birthname."</documentation>
    </annotation>
  </element>

  <!-- Element "birthplace" -->
  <element name="birthplace" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Birthplace." DE: "Geburtsort." HU: "Szülőháza."</documentation>
    </annotation>
  </element>

  <!-- Element "bookingFrequency" -->
  <element name="bookingFrequency" type="tns:bookingFrequencyIdentified">
    <annotation>
      <documentation>EN: "Booking frequency." DE: "Buchung Frequenz." HU: "Kikuldetes frekvencia."</documentation>
    </annotation>
  </element>

  <!-- Element "contractNumber" -->
  <element name="contractNumber" type="tns:contractNumber">
    <annotation>
      <documentation>EN: "Contract number." DE: "Vertragsnummer." HU: "A szerződés száma."</documentation>
    </annotation>
  </element>

  <!-- Element "coverageBuildingId" -->
  <element name="coverageBuildingId" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Coverage building id." DE: "Gebäude ID zur Deckung." HU: "???"</documentation>
    </annotation>
  </element>

  <!-- Element "coverageType" -->
  <element name="coverageType" type="tns:coverageTypeIdentified">
    <annotation>
      <documentation>EN: "Coverage type." DE: "Deckungstyp." HU: "Fedel tipus."</documentation>
    </annotation>
  </element>

  <!-- Element "coveragePremium" -->
  <element name="coveragePremium" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Insurance premium." DE: "Versicherungsprämie." HU: "Biztositasi dij."</documentation>
    </annotation>
  </element>

  <!-- Element "coverageProductId" -->
  <element name="coverageProductId" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Coverage product id." DE: "Produkt ID zur Deckung." HU: "???."</documentation>
    </annotation>
  </element>

  <!-- Element "changeReason" -->
  <element name="changeReason" type="tns:changeReasonIdentified">
    <annotation>
      <documentation>EN: "Reason for change." DE: "Anderungsgrund." HU: "Oka a valtozasra."</documentation>
    </annotation>
  </element>

  <!-- Element "citizenship" -->
  <element name="citizenship" type="tns:countryCodeIdentified">
    <annotation>
      <documentation>EN: "Citizenship." DE: "Burgerschaft." HU: "Allampolgarsag."</documentation>
    </annotation>
  </element>

  <!-- Element "city" -->
  <element name="city" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "City." DE: "Ort." HU: "Hely."</documentation>
    </annotation>
  </element>

  <!-- Element "clause" -->
  <element name="clause" type="tns:clauseIdentified">
    <annotation>
      <documentation>EN: "Contract Clause." DE: "Vertragsklausel." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "conditionAprovalDecl" -->
  <element name="conditionAprovalDecl" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Country." DE: "Land." HU: "Orszag."</documentation>
    </annotation>
  </element>

  <!-- Element "country" -->
  <element name="country" type="tns:countryCodeIdentified">
    <annotation>
      <documentation>EN: "Country." DE: "Land." HU: "Orszag."</documentation>
    </annotation>
  </element>

  <!-- Element "discountPercent" -->
  <element name="discountPercent" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Percent discount." DE: "Nachlass Prozent." HU: "Szazalekos kedvezmenyt."</documentation>
    </annotation>
  </element>

  <!-- Element "discountSum" -->
  <element name="discountSum" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Discount." DE: "Nachlass." HU: "Kedvezmeny."</documentation>
    </annotation>
  </element>

  <!-- Element "dataRealityDecl" -->
  <element name="dataRealityDecl" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "???." DE: "???." HU: "???."</documentation>
    </annotation>
  </element>

  <!-- Element "dataHandlingDecl" -->
  <element name="dataHandlingDecl" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "???." DE: "???." HU: "???."</documentation>
    </annotation>
  </element>

  <!-- Element "dmDecl" -->
  <element name="dmDecl" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "???." DE: "???." HU: "???."</documentation>
    </annotation>
  </element>

  <!-- Element "duration" -->
  <element name="duration" type="tns:dateIdentified">
    <annotation>
      <documentation>EN: "Duration." DE: "Laufzeit." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "email" -->
  <element name="email" type="tns:emailIdentified">
    <annotation>
      <documentation>EN: "Email." DE: "Email." HU: "E-mail."</documentation>
    </annotation>
  </element>

  <!-- Element "eMailDecl" -->
  <element name="eMailDecl" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "eMailDecl." DE: "???" HU: "???"</documentation>
    </annotation>
  </element>

  <!-- Element "error" -->
  <element name="error" type="tns:error">
    <annotation>
      <documentation>EN: "Failure." DE: "Fehlerfall." HU: "Hiba."</documentation>
    </annotation>
  </element>

  <!-- Element "errorList" -->
  <element name="errorList" type="tns:errorList">
    <annotation>
      <documentation>EN: "Error list." DE: "Felerliste." HU: "Hiba lista."</documentation>
    </annotation>
  </element>

  <!-- Element "firstname" -->
  <element name="firstname" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Firstname." DE: "Vorname." HU: "Keresztnev."</documentation>
    </annotation>
  </element>

  <!-- Element "gender" -->
  <element name="gender" type="tns:genderIdentified">
    <annotation>
      <documentation>EN: "Gender of partner." DE: "Geschlecht." HU: "Partner neme."</documentation>
    </annotation>
  </element>

  <!-- Element "general" -->
  <element name="general" type="tns:generalIdentified">
    <annotation>
      <documentation>EN: "General Product information for Calculation-Response." DE: "Produktbeschreibung fur KFZ-Berechnung-Antwort." HU: "Tovabbi informacio a autok szamitas valasz."</documentation>
    </annotation>
  </element>

  <!-- Element "header" -->
  <element name="header" type="tns:header">
    <annotation>
      <documentation>EN: "Header for Proposal-Response." DE: "Kopfzeile fur Antragsantwort." HU: "Fejlec a keres valasz."</documentation>
    </annotation>
  </element>

  <!-- Element "installmentPremium" -->
  <element name="installmentPremium" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Instalment premium." DE: "Pramie nach Zahlweise." HU: "Premium befizetese utan."</documentation>
    </annotation>
  </element>

  <!-- Element "language" -->
  <element name="language" type="tns:language">
    <annotation>
      <documentation>EN: "Language of the text content." DE: "Sprache der Textinhalte." HU: "Nyelve a szoveg tartalmat."</documentation>
    </annotation>
  </element>

 <!-- Element "lastname" -->
  <element name="lastname" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Lastname." DE: "Nachname." HU: "Vezeteknev."</documentation>
    </annotation>
  </element>

  <!-- Element "loanAmount" -->
  <element name="loanAmount" type="tns:natural1x11Identified">
    <annotation>
      <documentation>EN: "Loan Amount." DE: "Kreditsumme." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "loanCreditor" -->
  <element name="loanCreditor" type="tns:loanCreditorIdentified">
    <annotation>
      <documentation>EN: "Loan Creditor." DE: "Sicherungsgeber." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "loanStartDate" -->
  <element name="loanStartDate" type="tns:dateIdentified">
    <annotation>
      <documentation>EN: "Loan Start Date." DE: "Kreditbeginn." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "loanEndDate" -->
  <element name="loanEndDate" type="tns:dateIdentified">
    <annotation>
      <documentation>EN: "Loan End Date." DE: "Kreditablauf." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "loanInitialRate" -->
  <element name="loanInitialRate" type="tns:natural1x11Identified">
    <annotation>
      <documentation>EN: "Loan Initial Rate." DE: "Initiale Kreditrate." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "loanNumber" -->
  <element name="loanNumber" type="tns:loanNumberIdentified">
    <annotation>
      <documentation>EN: "Loan Number." DE: "Kreditnummer." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "mainDue" -->
  <element name="mainDue" type="tns:dateIdentified">
    <annotation>
      <documentation>EN: "Main due." DE: "Hauptfälligkeit." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "messageNumber" -->
  <element name="messageNumber" type="tns:messageNumber">
    <annotation>
      <documentation>EN: "Message identification." DE: "Nachricht-Identifikation." HU: "Uzenet azonosito."</documentation>
    </annotation>
  </element>

  <!-- Element "mothername" -->
  <element name="mothersname" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Mother's name." DE: "Muttername." HU: "Anyja neve."</documentation>
    </annotation>
  </element>

  <!-- Element "partner" -->
  <element name="partner" type="tns:partnerIdentified">
    <annotation>
      <documentation>EN: "Partner for Proposal." DE: "Partner fur den Antrag." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "partnerEntity" -->
  <element name="partnerEntity" type="tns:partnerEntityIdentified">
    <annotation>
      <documentation>EN: "Entity." DE: "Rechtssubjekt." HU: "Entitas."</documentation>
    </annotation>
  </element>

  <!-- Element "partnerLiability" -->
  <element name="partnerLiability" type="tns:partnerLiabilityIdentified">
    <annotation>
      <documentation>EN: "Liability." DE: "Verpflichtung." HU: "Kotelezettseget."</documentation>
    </annotation>
  </element>

  <!-- Element "partnerList" -->
  <element name="partnerList" type="tns:partnerListIdentified">
    <annotation>
      <documentation>EN: "Partnerlist." DE: "Partner-Liste." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "paymentMethod" -->
  <element name="paymentMethod" type="tns:paymentMethodIdentified">
    <annotation>
      <documentation>EN: "Method of payment." DE: "Zahlweise." HU: "A fizetes modja."</documentation>
    </annotation>
  </element>

  <!-- Element "phone" -->
  <element name="phone" type="tns:phoneIdentified">
    <annotation>
      <documentation>EN: "Phone Number." DE: "Telefonnummer." HU: "Telefon."</documentation>
    </annotation>
  </element>

  <!-- Element "phoneBusiness" -->
  <element name="phoneBusiness" type="tns:phoneIdentified">
    <annotation>
      <documentation>EN: "Business Phone Number." DE: "Geschäftliche Telefonnummer." HU: "???."</documentation>
    </annotation>
  </element>

  <!-- Element "phoneMobil" -->
  <element name="phoneMobil" type="tns:phoneIdentified">
    <annotation>
      <documentation>EN: "Mobile Phone Number." DE: "Mobile Telefonnummer." HU: "???."</documentation>
    </annotation>
  </element>

  <!-- Element "postRecipientAddressId" -->
  <element name="postRecipientAddressId" type="tns:postRecipientAddressIdIdentified">
    <annotation>
      <documentation>EN: "Post Recipient Address Id." DE: "ID der POE-Adresse." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "prepayment" -->
  <element name="prepayment" type="tns:natural1x11Identified">
    <annotation>
      <documentation>EN: "prepayment" DE: "Vorauszahlung" HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "print" -->
  <element name="print" type="tns:printContainerIdentified">
    <annotation>
      <documentation>EN: "Print job information." DE: "Druckauftrag Informationen." HU: "Allas valasz."</documentation>
    </annotation>
  </element>

  <!-- Element "printData" -->
  <element name="printData" type="base64Binary">
    <annotation>
      <documentation>EN: "Print data." DE: "Druckdaten." HU: "Nyomtatasi adatokat."</documentation>
    </annotation>
  </element>

  <!-- Element "printRequest" -->
  <element name="printRequest" type="tns:printRequest">
    <annotation>
      <documentation>EN: "Print job request." DE: "Druckauftrag-Anfrage." HU: "A nyomtatási feladat kérést."</documentation>
    </annotation>
  </element>

  <!-- Element "printResponse" -->
  <element name="printResponse" type="tns:printResponse">
    <annotation>
      <documentation>EN: "Print job response." DE: "Druckauftrag-Antwort." HU: "A nyomtatási feladat válasz."</documentation>
    </annotation>
  </element>

  <!-- Element "product" -->
  <element name="product" type="tns:productIdentified">
    <annotation>
      <documentation>EN: "Product number." DE: "Produktnummer." HU: "Termek szama."</documentation>
    </annotation>
  </element>

  <!-- Element "profession" -->
  <element name="profession" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Profession." DE: "Beruf." HU: "???"</documentation>
    </annotation>
  </element>

  <!-- Element "proposalNumber" -->
  <element name="proposalNumber" type="tns:natural7x9Identified">
    <annotation>
      <documentation>EN: "Proposal number." DE: "Antragsnummer." HU: "Koveteles szama."</documentation>
    </annotation>
  </element>

  <!-- Element "reportNumber" -->
  <element name="reportNumber" type="tns:reportNumberIdentified">
    <annotation>
      <documentation>EN: "Report number." DE: "Berichtsnummer." HU: "Jelentes szama."</documentation>
    </annotation>
  </element>

  <!-- Element "residency" -->
  <element name="residency" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Residency." DE: "Staatsbürgerschaft." HU: "???"</documentation>
    </annotation>
  </element>

  <!-- Element "result" -->
  <element name="result" type="tns:result">
    <annotation>
      <documentation>EN: "Result." DE: "Ergebnis." HU: "???"</documentation>
    </annotation>
  </element>

  <!-- Element "resultCoverage" -->
  <element name="resultCoverage" type="tns:resultCoverage">
    <annotation>
      <documentation>EN: "Result coverage." DE: "Deckungsergebnis." HU: "Eredmeny lefedettseg."</documentation>
    </annotation>
  </element>

  <!-- Element "resultCoverageList" -->
  <element name="resultCoverageList" type="tns:resultCoverageList">
    <annotation>
      <documentation>EN: "Result list." DE: "Ergebnisliste." HU: "Talalati lista."</documentation>
    </annotation>
  </element>

  <!-- Element "sign" -->
  <element name="sign" type="tns:signContainerIdentified">
    <annotation>
      <documentation>EN: "Signature information." DE: "Signatur Informationen." HU: "Aláírás kérés."</documentation>
    </annotation>
  </element>

  <!-- Element "signature" -->
  <element name="signature" type="tns:string1x30">
    <annotation>
      <documentation>EN: "E-signature from frontend-system." DE: "E-Signatur vom Frontend-System." HU: "E-alairas, a front-end rendszer."</documentation>
    </annotation>
  </element>

  <!-- Element "signRequest" -->
  <element name="signRequest" type="tns:signRequest">
    <annotation>
      <documentation>EN: "Signature request." DE: "Signatur-Anfrage." HU: "Aláírás kérés."</documentation>
    </annotation>
  </element>

  <!-- Element "signResponse" -->
  <element name="signResponse" type="tns:signResponse">
    <annotation>
      <documentation>EN: "Signature response." DE: "Signatur-Antwort." HU: "Aláírás válasz."</documentation>
    </annotation>
  </element>

  <!-- Element "streetHouse" -->
  <element name="streetHouse" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Street name and house number." DE: "Strassenname und Hausnummer." HU: "Utcanev es hazszam."</documentation>
    </annotation>
  </element>

  <!-- Element "subAgentNumber" -->
  <element name="subAgentNumber" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Subagent number." DE: "Untervermittlernummer." HU: "A szer szam."</documentation>
    </annotation>
  </element>

  <!-- Element "surchargePercent" -->
  <element name="surchargePercent" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Percent surcharge." DE: "Aufschlag Prozent." HU: "Szazalek felar."</documentation>
    </annotation>
  </element>

  <!-- Element "surchargeSum" -->
  <element name="surchargeSum" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Surcharge." DE: "Aufschlag." HU: "Potdij."</documentation>
    </annotation>
  </element>

  <!-- Element "taxNumber" -->
  <element name="taxNumber" type="tns:taxNumberIdentified">
    <annotation>
      <documentation>EN: "Tax number." DE: "Steuernummer." HU: "Adoszamat."</documentation>
    </annotation>
  </element>

  <!-- Element "title" -->
  <element name="title" type="tns:titleIdentified">
    <annotation>
      <documentation>EN: "Title." DE: "Titel." HU: "Cim."</documentation>
    </annotation>
  </element>

  <!-- Element "timestamp" -->
  <element name="timestamp" type="dateTime">
    <annotation>
      <documentation>EN: "Timestamp-UTC." DE: "Zeitstempel-UTC." HU: "Idobelyeg-UTC."</documentation>
    </annotation>
  </element>

  <!-- Element "tradeRegister" -->
  <element name="tradeRegister" type="tns:string1x70Identified">
    <annotation>
      <documentation>EN: "Trade Register." DE: "Handelsregistereintrag." HU: "???."</documentation>
    </annotation>
  </element>

  <!-- Element "valuta" -->
  <element name="valuta" type="tns:valutaIdentified">
    <annotation>
      <documentation>EN: "Currency." DE: "Waehrung." HU: "Penznem."</documentation>
    </annotation>
  </element>

  <!-- Element "version" -->
  <element name="version" type="tns:version">
    <annotation>
      <documentation>EN: "Version of the protocol." DE: "Version des Protokols." HU: "Valtozata a protokoll."</documentation>
    </annotation>
  </element>

  <!-- Element "yearlyPremium" -->
  <element name="yearlyPremium" type="tns:natural1x11">
    <annotation>
      <documentation>EN: "Annual premium." DE: "Jahrespramie." HU: "Eves dij."</documentation>
    </annotation>
  </element>

  <!-- Element "zip" -->
  <element name="zip" type="tns:natural4Identified">
    <annotation>
      <documentation>EN: "Postal code." DE: "Postleitzahl." HU: "Iranyitoszam."</documentation>
    </annotation>
  </element>

</schema>