wsdl/DETValidAddQuoteAutoGFB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.hws.ahbrt.hu" xmlns:impl="http://services.hws.ahbrt.hu" xmlns:intf="http://services.hws.ahbrt.hu" xmlns:tns2="http://policy.det.types.hws.ahbrt.hu" xmlns:tns3="http://results.types.hws.ahbrt.hu" xmlns:tns4="http://types.hws.ahbrt.hu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://policy.det.types.hws.ahbrt.hu" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://services.hws.ahbrt.hu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.hws.ahbrt.hu"/>
   <complexType name="WsTypoGfbBroker">
    <sequence>
     <element name="advanceCalcPaymAmount" nillable="true" type="xsd:long"/>
     <element name="advancePaymAmount" nillable="true" type="xsd:long"/>
     <element name="advancePaymId" nillable="true" type="xsd:string"/>
     <element name="agentRole" nillable="true" type="xsd:long"/>
     <element name="a0Premium" nillable="true" type="xsd:double"/>
     <element name="bonusMalus" nillable="true" type="xsd:string"/>
     <element name="bookingFrequency" nillable="true" type="xsd:string"/>
     <element name="businessId" nillable="true" type="xsd:string"/>
     <element name="carBusinessType" nillable="true" type="xsd:long"/>
     <element name="childBirthDate" nillable="true" type="xsd:string"/>
     <element name="closures" nillable="true" type="impl:ArrayOf_tns2_nillable_WsTypoClosure"/>
     <element name="coexRegNumber" nillable="true" type="xsd:string"/>
     <element name="dateOfSale" nillable="true" type="xsd:dateTime"/>
     <element name="dnfDeclaration" nillable="true" type="xsd:long"/>
     <element name="expertResult" nillable="true" type="xsd:string"/>
     <element name="extCovers" nillable="true" type="impl:ArrayOf_tns2_nillable_WsTypoCover"/>
     <element name="greenCard" nillable="true" type="xsd:long"/>
     <element name="instalmentPremium" nillable="true" type="xsd:long"/>
     <element name="mabiszCalcPaymAmount" nillable="true" type="xsd:long"/>
     <element name="mabiszPaymAmount" nillable="true" type="xsd:long"/>
     <element name="mabiszPaymId" nillable="true" type="xsd:string"/>
     <element name="methodOfPayment" nillable="true" type="xsd:string"/>
     <element name="modFactors" nillable="true" type="impl:ArrayOf_tns2_nillable_WsTypoModFactor"/>
     <element name="otherPolicyRef" nillable="true" type="xsd:string"/>
     <element name="partners" nillable="true" type="impl:ArrayOf_tns2_nillable_WsTypoPartner"/>
     <element name="policyRef" nillable="true" type="xsd:string"/>
     <element name="premiumTariff" nillable="true" type="xsd:long"/>
     <element name="previousBonusFrom" nillable="true" type="xsd:dateTime"/>
     <element name="previousBonusMalus" nillable="true" type="xsd:string"/>
     <element name="previousCarriageNo" nillable="true" type="xsd:string"/>
     <element name="previousDelDate" nillable="true" type="xsd:dateTime"/>
     <element name="previousDelReason" nillable="true" type="xsd:string"/>
     <element name="previousInsType" nillable="true" type="xsd:long"/>
     <element name="previousInsurer" nillable="true" type="xsd:string"/>
     <element name="previousPolRef" nillable="true" type="xsd:string"/>
     <element name="previousRegNr" nillable="true" type="xsd:string"/>
     <element name="producerRole" nillable="true" type="xsd:long"/>
     <element name="termEndDate" nillable="true" type="xsd:dateTime"/>
     <element name="termStartDate" nillable="true" type="xsd:dateTime"/>
     <element name="vehicle" nillable="true" type="tns2:WsTypoVehicle"/>
     <element name="yearlyPremium" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WsTypoClosure">
    <sequence>
     <element name="closureCode" nillable="true" type="xsd:string"/>
     <element name="closureDescription" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WsTypoCover">
    <sequence>
     <element name="coverCode" nillable="true" type="xsd:string"/>
     <element name="premiumTariff" nillable="true" type="xsd:long"/>
     <element name="sumInsured" nillable="true" type="xsd:long"/>
     <element name="unit" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WsTypoModFactor">
    <sequence>
     <element name="amount" nillable="true" type="xsd:long"/>
     <element name="comments" nillable="true" type="xsd:string"/>
     <element name="percentage" nillable="true" type="xsd:long"/>
     <element name="premModType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WsTypoPartner">
    <sequence>
     <element name="addresses" nillable="true" type="impl:ArrayOf_tns2_nillable_WsTypoAddress"/>
     <element name="afterTitle" nillable="true" type="xsd:string"/>
     <element name="bankAccountNumber" nillable="true" type="xsd:string"/>
     <element name="beforeTitle" nillable="true" type="xsd:string"/>
     <element name="birthFirstName" nillable="true" type="xsd:string"/>
     <element name="birthName" nillable="true" type="xsd:string"/>
     <element name="contactName" nillable="true" type="xsd:string"/>
     <element name="dateOfBirth" nillable="true" type="xsd:dateTime"/>
     <element name="emails" nillable="true" type="impl:ArrayOf_tns2_nillable_WsTypoEmail"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="gender" nillable="true" type="xsd:string"/>
     <element name="middleName" nillable="true" type="xsd:string"/>
     <element name="mothersFirstName" nillable="true" type="xsd:string"/>
     <element name="mothersName" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="partnerType" nillable="true" type="xsd:string"/>
     <element name="phones" nillable="true" type="impl:ArrayOf_tns2_nillable_WsTypoPhone"/>
     <element name="placeOfBirth" nillable="true" type="xsd:string"/>
     <element name="roleType" nillable="true" type="xsd:string"/>
     <element name="shortName" nillable="true" type="xsd:string"/>
     <element name="taxId" nillable="true" type="xsd:string"/>
     <element name="vatNumber" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WsTypoAddress">
    <sequence>
     <element name="addressType" nillable="true" type="xsd:string"/>
     <element name="housenumber" nillable="true" type="xsd:string"/>
     <element name="postcode" nillable="true" type="xsd:string"/>
     <element name="street" nillable="true" type="xsd:string"/>
     <element name="town" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WsTypoEmail">
    <sequence>
     <element name="defaultEmail" nillable="true" type="xsd:string"/>
     <element name="emailAddress" nillable="true" type="xsd:string"/>
     <element name="emailType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WsTypoPhone">
    <sequence>
     <element name="defaultPhone" nillable="true" type="xsd:string"/>
     <element name="defaultSms" nillable="true" type="xsd:string"/>
     <element name="phoneNumber" nillable="true" type="xsd:string"/>
     <element name="phoneType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WsTypoVehicle">
    <sequence>
     <element name="capacity" nillable="true" type="xsd:long"/>
     <element name="carDocumentNumber" nillable="true" type="xsd:string"/>
     <element name="carriageNo" nillable="true" type="xsd:string"/>
     <element name="colour" nillable="true" type="xsd:string"/>
     <element name="cubicCapacity" nillable="true" type="xsd:long"/>
     <element name="fuel" nillable="true" type="xsd:string"/>
     <element name="mass" nillable="true" type="xsd:long"/>
     <element name="numberOfPersons" nillable="true" type="xsd:long"/>
     <element name="power" nillable="true" type="xsd:long"/>
     <element name="registrationNumber" nillable="true" type="xsd:string"/>
     <element name="trafficFromDate" nillable="true" type="xsd:dateTime"/>
     <element name="vehicleCharacter" nillable="true" type="xsd:string"/>
     <element name="vehicleKind" nillable="true" type="xsd:string"/>
     <element name="vehicleProduct" nillable="true" type="xsd:string"/>
     <element name="vehicleType" nillable="true" type="xsd:string"/>
     <element name="yearOfProduction" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://services.hws.ahbrt.hu" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://policy.det.types.hws.ahbrt.hu" xmlns:tns3="http://results.types.hws.ahbrt.hu" xmlns:tns4="http://types.hws.ahbrt.hu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://results.types.hws.ahbrt.hu"/>
   <import namespace="http://types.hws.ahbrt.hu"/>
   <import namespace="http://policy.det.types.hws.ahbrt.hu"/>
   <complexType name="ArrayOf_tns2_nillable_WsTypoClosure">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="WsTypoClosure" nillable="true" type="tns2:WsTypoClosure"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_nillable_WsTypoCover">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="WsTypoCover" nillable="true" type="tns2:WsTypoCover"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_nillable_WsTypoModFactor">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="WsTypoModFactor" nillable="true" type="tns2:WsTypoModFactor"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_nillable_WsTypoAddress">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="WsTypoAddress" nillable="true" type="tns2:WsTypoAddress"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_nillable_WsTypoEmail">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="WsTypoEmail" nillable="true" type="tns2:WsTypoEmail"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_nillable_WsTypoPhone">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="WsTypoPhone" nillable="true" type="tns2:WsTypoPhone"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_nillable_WsTypoPartner">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="WsTypoPartner" nillable="true" type="tns2:WsTypoPartner"/>
    </sequence>
   </complexType>
   <element name="serviceResponse">
    <complexType>
     <sequence>
      <element name="serviceReturn" nillable="true" type="tns3:ResultDETValidAddQuoteAutoGFBService"/>
     </sequence>
    </complexType>
   </element>
   <element name="service">
    <complexType>
     <sequence>
      <element name="broker" nillable="true" type="tns2:WsTypoGfbBroker"/>
      <element name="signatureDate" nillable="true" type="xsd:dateTime"/>
      <element name="signaturePlace" nillable="true" type="xsd:string"/>
      <element name="transaction" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns4_nillable_WsTygeError">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="WsTygeError" nillable="true" type="tns4:WsTygeError"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://results.types.hws.ahbrt.hu" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://services.hws.ahbrt.hu" xmlns:tns2="http://policy.det.types.hws.ahbrt.hu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.hws.ahbrt.hu"/>
   <import namespace="http://policy.det.types.hws.ahbrt.hu"/>
   <complexType name="ResultDETValidAddQuoteAutoGFBService">
    <sequence>
     <element name="broker" nillable="true" type="tns2:WsTypoGfbBroker"/>
     <element name="error" nillable="true" type="impl:ArrayOf_tns4_nillable_WsTygeError"/>
     <element name="errorCode" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://types.hws.ahbrt.hu" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="WsTygeError">
    <sequence>
     <element name="errLevel" nillable="true" type="xsd:long"/>
     <element name="errNumber" nillable="true" type="xsd:long"/>
     <element name="errText" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="serviceRequest">
     <wsdl:part element="intf:service" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="serviceResponse">
     <wsdl:part element="intf:serviceResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="DETValidAddQuoteAutoGFB">
     <wsdl:operation name="service">
       <wsdl:input message="intf:serviceRequest" name="serviceRequest"/>

       <wsdl:output message="intf:serviceResponse" name="serviceResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="DETValidAddQuoteAutoGFBSoapBinding" type="intf:DETValidAddQuoteAutoGFB">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="service">
       <wsdlsoap:operation soapAction="service"/>

       <wsdl:input name="serviceRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="serviceResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="DETValidAddQuoteAutoGFBService">
     <wsdl:port binding="intf:DETValidAddQuoteAutoGFBSoapBinding" name="DETValidAddQuoteAutoGFB">
       <wsdlsoap:address location="https://webservice.allianz.hu/hws_TEST/services/DETValidAddQuoteAutoGFB"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
