WSDLInterpreter-v1.0.0/xsd1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!--

     $Id: mkb-sales-tool-model-motor.xsd 67547 2011-09-08 21:27:25Z tbi $
     $Revision: 67547 $

     MKB Sales Tool Webservice - Casco XSD

     (c) 2010-2011 / inverso Gesellschaft für innovative Versicherungssoftware mbH

     modositasok az eredetihez kepest:
     - sajat motor/bmMessageList listank felveve (elemei bmMessage tipusuak.)
--><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://i3s.inverso.de/mkb/sales/tool/model/motor" xmlns:nst="http://i3s.inverso.de/mkb/sales/tool/model/type" targetNamespace="http://i3s.inverso.de/mkb/sales/tool/model/motor" elementFormDefault="qualified" version="1.0">

  <!-- data-model-type -->
  <import namespace="http://i3s.inverso.de/mkb/sales/tool/model/type" schemaLocation="xsd2.xsd" />

  <!-- - - - SimpleTypeSection - - - - -->

  <!-- Type "allowance" -->
  <simpleType name="allowance">
    <restriction base="token">
      <enumeration value="77">
        <annotation>
          <documentation>DKO_KAT_Kode MKB Finance</documentation>
        </annotation>
      </enumeration>
      <enumeration value="84">
        <annotation>
          <documentation>DKO_KAT_Kode On-line</documentation>
        </annotation>
      </enumeration>
      <enumeration value="89">
        <annotation>
          <documentation>DKO_KAT_Kode</documentation>
        </annotation>
      </enumeration>
      <enumeration value="93">
        <annotation>
          <documentation>DKO_KAT_Kode</documentation>
        </annotation>
      </enumeration>
      <enumeration value="97">
        <annotation>
          <documentation>DKO_KAT_Kode</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "bonusMalus" -->
  <simpleType name="bonusMalus">
    <restriction base="token">
      <enumeration value="A00" />
      <enumeration value="B01" />
      <enumeration value="B02" />
      <enumeration value="B03" />
      <enumeration value="B04" />
      <enumeration value="B05" />
      <enumeration value="B06" />
      <enumeration value="B07" />
      <enumeration value="B08" />
      <enumeration value="B09" />
      <enumeration value="B10" />
      <enumeration value="M01" />
      <enumeration value="M02" />
      <enumeration value="M03" />
      <enumeration value="M04" />
    </restriction>
  </simpleType>

  <!-- Type "deductibleCode" -->
  <simpleType name="deductibleCode">
    <restriction base="token">
      <enumeration value="11">
        <annotation>
          <documentation>1.500 Mio HUF f. P, 500 Mio. HUF f. S und 500 Mio. HUF. f. V</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1020">
        <annotation>
          <documentation>10% min. 20.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1050">
        <annotation>
          <documentation>10% min. 50.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>10% min. 100.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>10% min. 200.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>10% min. 300.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>10% min. 400.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>10% min. 500.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2020">
        <annotation>
          <documentation>20% min. 20.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2050">
        <annotation>
          <documentation>20% min. 50.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2100">
        <annotation>
          <documentation>20% min. 100.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2200">
        <annotation>
          <documentation>20% min. 200.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2300">
        <annotation>
          <documentation>20% min. 300.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2400">
        <annotation>
          <documentation>20% min. 400.000 HUF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2500">
        <annotation>
          <documentation>20% min. 500.000 HUF</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "engine" -->
  <simpleType name="engine">
    <restriction base="token">
      <enumeration value="1">
        <annotation>
          <documentation>EN: "Gasoline." DE: "Benzin." HU: "Benzin."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>EN: "Diesel." DE: "Diesel." HU: "Diesel."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "eurotax" -->
  <simpleType name="eurotax">
    <restriction base="token">
      <pattern value="[0-9]{4}[A-Z]{1}[0-9]{3}" />
    </restriction>
  </simpleType>

  <!-- Type "extraEquipment" -->
  <simpleType name="extraEquipment">
    <restriction base="token">
      <enumeration value="2126">
        <annotation>
          <documentation>EN: "Leather upholstery." DE: "Lederpolsterung." HU: "Borkarpit."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2127">
        <annotation>
          <documentation>EN: "Navigation device." DE: "Navigationsgerat." HU: "Navigacios berendezes."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2128">
        <annotation>
          <documentation>EN: "Alloy wheels." DE: "Alufelgen" HU: "Konnyufem kerektarcsak."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2129">
        <annotation>
          <documentation>EN: "Radio/Multimedia >150.000 HUF" DE: "Radio/Multimedia >150.000 HUF" HU: "150.000 Ft ertek feletti adudio berendezes"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2130">
        <annotation>
          <documentation>EN: "Air conditioning." DE: "Klimaanlage." HU: "Automata valto."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2131">
        <annotation>
          <documentation>EN: "Bi-Xenon headlights." DE: "Bi-Xenonscheinwerfer." HU: "Xen."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "financing" -->
  <simpleType name="financing">
    <restriction base="token">
      <enumeration value="0">
        <annotation>
          <documentation>EN: "Not financed." DE: "Nicht-finanziert." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>EN: "Financed." DE: "Finanziert." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>EN: "Leased." DE: "Geleast." HU: "."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "protectionDevice" -->
  <simpleType name="protectionDevice">
    <restriction base="token">
      <enumeration value="1">
        <annotation>
          <documentation>EN: "Immobilizer." DE: "Wegfahrsperre." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>EN: "Alarm-System." DE: "Alarmanlage." HU: "."</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>EN: "Gear-Box Lock." DE: "Getriebesperre" HU: "."</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "registrationNumber" -->
  <simpleType name="registrationNumber">
    <restriction base="token">
      <pattern value="([A-Z]{1}[A-Za-z]{2}-[0-9]{3})|([A-Z]{4}-[0-9]{1,2})|([A-Z]{2} [0-9]{2}-[0-9]{2})" />
    </restriction>
  </simpleType>

  <!-- Type "vehicleType" -->
  <simpleType name="vehicleType">
    <restriction base="token">
      <enumeration value="10">
        <annotation>
          <documentation>Car</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>Bike</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>Bus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>Trolley Bus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>Truck</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>Tractor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>light Trailer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="17">
        <annotation>
          <documentation>heavy Trailer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>Trailer for Cars</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>Caravan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>Trailer for Bikes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="21">
        <annotation>
          <documentation>Tractor agriculture</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>slow Vehicle</documentation>
        </annotation>
      </enumeration>
      <enumeration value="23">
        <annotation>
          <documentation>Work Maschine</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>Moped</documentation>
        </annotation>
      </enumeration>
      <enumeration value="25">
        <annotation>
          <documentation>Beiwagen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <documentation>Trailer agriculture</documentation>
        </annotation>
      </enumeration>
      <enumeration value="27">
        <annotation>
          <documentation>Probe P Kennzeichen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="28">
        <annotation>
          <documentation>Quad</documentation>
        </annotation>
      </enumeration>
      <enumeration value="110">
        <annotation>
          <documentation>Car (Integrated Casco)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="120">
        <annotation>
          <documentation>Car (CA11)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "vehicleUsage" -->
  <simpleType name="vehicleUsage">
    <restriction base="token">
      <enumeration value="1" />
      <enumeration value="2" />
      <enumeration value="3" />
      <enumeration value="4" />
      <enumeration value="5" />
      <enumeration value="6" />
      <enumeration value="7" />
    </restriction>
  </simpleType>

  <!-- Type "vehicleVendor" -->
  <simpleType name="vehicleVendor">
    <restriction base="token">
      <enumeration value="1">
        <annotation>
          <documentation>ZASTAVA</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>ALFA ROMEO (I)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>ARO (RO)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>ASTON MARTIN</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>AUDI (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>BENTLEY</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>BMW (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>CADILLAC (USA)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>CHRYSLER (USA)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>CHEVROLET (KR)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>CORVETTE (USA)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="17">
        <annotation>
          <documentation>CITROEN (F)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>AVIA</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>DACIA (RO)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>DAIHATSU (J)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="21">
        <annotation>
          <documentation>DAEWOO (KR)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>DODGE (USA)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="23">
        <annotation>
          <documentation>FIAT (I)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>PLYMOUTH</documentation>
        </annotation>
      </enumeration>
      <enumeration value="25">
        <annotation>
          <documentation>FERRARI</documentation>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <documentation>TALBOT</documentation>
        </annotation>
      </enumeration>
      <enumeration value="28">
        <annotation>
          <documentation>FORD (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="29">
        <annotation>
          <documentation>GAZ (RUS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30">
        <annotation>
          <documentation>HONDA (J)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31">
        <annotation>
          <documentation>HUMMER</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>HYUNDAI (KR)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="33">
        <annotation>
          <documentation>BUGATTI</documentation>
        </annotation>
      </enumeration>
      <enumeration value="34">
        <annotation>
          <documentation>ISUZU (J)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="35">
        <annotation>
          <documentation>JAGUAR (GB)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="36">
        <annotation>
          <documentation>KIA (KR)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="37">
        <annotation>
          <documentation>JEEP (USA)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="38">
        <annotation>
          <documentation>LADA (RUS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="39">
        <annotation>
          <documentation>LAND ROVER (GB)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="40">
        <annotation>
          <documentation>LANCIA (I)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="41">
        <annotation>
          <documentation>MARUTI (SUZUKI) (IND)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="42">
        <annotation>
          <documentation>MAZDA (J)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="43">
        <annotation>
          <documentation>MAHINDRA (IND)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="44">
        <annotation>
          <documentation>MASERATTI</documentation>
        </annotation>
      </enumeration>
      <enumeration value="45">
        <annotation>
          <documentation>LAMBORGHINI</documentation>
        </annotation>
      </enumeration>
      <enumeration value="46">
        <annotation>
          <documentation>MERCEDES-BENZ (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="48">
        <annotation>
          <documentation>LEXUS (J)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>MITSUBISHI (J)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="52">
        <annotation>
          <documentation>MG (GB)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="53">
        <annotation>
          <documentation>MOSZKVICS (RUS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="54">
        <annotation>
          <documentation>MINI (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="55">
        <annotation>
          <documentation>MEGA</documentation>
        </annotation>
      </enumeration>
      <enumeration value="56">
        <annotation>
          <documentation>NISSAN (J)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="57">
        <annotation>
          <documentation>MORGAN</documentation>
        </annotation>
      </enumeration>
      <enumeration value="58">
        <annotation>
          <documentation>OLTCIT (RO)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="59">
        <annotation>
          <documentation>LOTUS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>OPEL (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="61">
        <annotation>
          <documentation>WAUXHALL</documentation>
        </annotation>
      </enumeration>
      <enumeration value="62">
        <annotation>
          <documentation>PEUGEOT (F)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="63">
        <annotation>
          <documentation>PIAGGIO (I)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="64">
        <annotation>
          <documentation>POLSKI FIAT (PL)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="65">
        <annotation>
          <documentation>PORSCHE (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="66">
        <annotation>
          <documentation>PROTON (MAL)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="67">
        <annotation>
          <documentation>LINCOLN</documentation>
        </annotation>
      </enumeration>
      <enumeration value="68">
        <annotation>
          <documentation>RENAULT (F)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="69">
        <annotation>
          <documentation>ROLLS ROYCE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>ROVER (GB)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="71">
        <annotation>
          <documentation>MERCURY</documentation>
        </annotation>
      </enumeration>
      <enumeration value="72">
        <annotation>
          <documentation>SAAB (S)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="73">
        <annotation>
          <documentation>INFINITI</documentation>
        </annotation>
      </enumeration>
      <enumeration value="74">
        <annotation>
          <documentation>PONTIAC</documentation>
        </annotation>
      </enumeration>
      <enumeration value="75">
        <annotation>
          <documentation>SEAT (E)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="76">
        <annotation>
          <documentation>SMART (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="77">
        <annotation>
          <documentation>SKODA (CZ)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="78">
        <annotation>
          <documentation>SSANGYONG (KR)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="79">
        <annotation>
          <documentation>SHUANGHUAN</documentation>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <documentation>SUBARU (J)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="82">
        <annotation>
          <documentation>82 SUZUKI (J)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="84">
        <annotation>
          <documentation>EGYEB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="85">
        <annotation>
          <documentation>TATA (IND)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="86">
        <annotation>
          <documentation>TOYOTA (J)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="87">
        <annotation>
          <documentation>TRABANT (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="88">
        <annotation>
          <documentation>VOLVO (S)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="89">
        <annotation>
          <documentation>VOLGA (RUS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>VW (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="91">
        <annotation>
          <documentation>SATURN</documentation>
        </annotation>
      </enumeration>
      <enumeration value="92">
        <annotation>
          <documentation>VWARTBURG (D)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="93">
        <annotation>
          <documentation>YUGO (YU)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="96">
        <annotation>
          <documentation>ZAZ (RUS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="98">
        <annotation>
          <documentation>UAZ (RUS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>IVECO (I)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>

  <!-- Type "vin" -->
  <simpleType name="vin">
    <restriction base="token">
      <pattern value="[0-9A-Z]{17}" />
    </restriction>
  </simpleType>

  <!-- - - - - ComplexTypeSection - - - -->

  <!-- Type "allowanceIdentified" -->
  <complexType name="allowanceIdentified">
    <simpleContent>
      <extension base="tns:allowance">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "bmCheckMsgListIdentified" -->
  <complexType name="bmCheckMsgListIdentified">
    <sequence>
      <element maxOccurs="9" name="bmCheckMsg" type="nst:string1x70Identified" />
    </sequence>
    <attribute name="id" type="ID" use="required" />
  </complexType>

   <!-- Type "bmMessageList" -->
   <complexType name="bmMessageList">
       <sequence>
           <element maxOccurs="unbounded" name="bmMessage" type="tns:bmMessage" />
       </sequence>
   </complexType>

   <!-- Type "bmMessage" -->
   <complexType name="bmMessage">
       <all>
           <element name="severity" type="nst:severity" />
           <element name="description" type="nst:string1x200" />
           <element minOccurs="0" name="oldValue" type="nst:string1x200" />
           <element minOccurs="0" name="newValue" type="nst:string1x200" />
           <element minOccurs="0" name="fieldCode" type="nst:string1x70" />
       </all>
   </complexType>

  <!-- Type "bonusMalusIdentified" -->
  <complexType name="bonusMalusIdentified">
    <simpleContent>
      <extension base="tns:bonusMalus">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "calculationRequest" -->
  <complexType name="calculationRequest">
    <sequence>
      <element maxOccurs="1" ref="nst:header" />
      <element maxOccurs="1" ref="nst:general" />
      <element maxOccurs="1" ref="nst:partnerList" />
      <element name="motor" type="tns:motorIdentified">
        <annotation>
          <documentation>EN: "Vehicle specifications for Calculation-Request." DE: "Fahrzeugangaben fur Berechnungsanfrage." HU: "Jarmu adatok szamitasi kerelmet."</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <!-- Type "calculationResponse" -->
  <complexType name="calculationResponse">
    <sequence>
      <element maxOccurs="1" ref="nst:header" />
      <element maxOccurs="1" ref="nst:general" />
      <element maxOccurs="1" ref="nst:partnerList" />
      <element minOccurs="0" name="motor" type="tns:motorIdentified">
        <annotation>
          <documentation>EN: "Vehicle specifications for Calculation-Response." DE: "Fahrzeugangaben fur Berechnungsantwort." HU: "A jarmu muszaki szamitasi valaszt."</documentation>
        </annotation>
      </element>
      <element minOccurs="0" ref="nst:result" />
      <element minOccurs="0" ref="nst:errorList" />
    </sequence>
  </complexType>

	<complexType name="mtplExtIdentified">
		<all>
			<element name="bonusMalusDecl" type="nst:string1x70Identified" />
			<element name="prevInsCode" type="nst:string1x70Identified" />
			<element name="prevInsNummer" type="nst:string1x70Identified" />
			<element name="prevInsBeginDate" type="nst:dateIdentified" />
			<element name="prevMainAnniversaryHfDate" type="nst:dateIdentified" />
			<element name="prevInsEndDate" type="nst:dateIdentified" />
			<element name="prevInsPlateNumber" type="nst:string1x70Identified" />
			<element name="prevInsTermReason" type="nst:string1x70Identified" />
			<element name="prevInsBmClass" type="nst:string1x70Identified" />
			<element name="mabiszFee" type="nst:natural1x11Identified" />
			<element name="mabiszFeeBrutto" type="nst:natural1x11Identified" />
			<element name="mabiszFeeStartDate" type="nst:dateIdentified" />
			<element name="mabiszFeeEndDate" type="nst:dateIdentified" />
		</all>
		<attribute name="id" type="ID" use="required" />
	</complexType>

  <!-- Type "coverageIdentified" -->
  <complexType name="coverageIdentified">
    <all>
      <element ref="nst:coverageType" />
      <element ref="tns:deductibleCode" />
      <element minOccurs="0" ref="tns:allowance" />
      <element minOccurs="0" ref="tns:bonusMalus" />
    </all>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "coverageListIdentified" -->
  <complexType name="coverageListIdentified">
    <sequence>
      <element maxOccurs="unbounded" ref="tns:coverage" />
      <element minOccurs="0" maxOccurs="1" name="mtplExt" type="tns:mtplExtIdentified" />
    </sequence>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "deductibleCodeIdentified" -->
  <complexType name="deductibleCodeIdentified">
    <simpleContent>
      <extension base="tns:deductibleCode">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "detailedModelCodeIdentified" -->
  <complexType name="detailedModelCodeIdentified">
    <simpleContent>
      <extension base="nst:string1x70">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "engineIdentified" -->
  <complexType name="engineIdentified">
    <simpleContent>
      <extension base="tns:engine">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "eurotaxIdentified" -->
  <complexType name="eurotaxIdentified">
    <simpleContent>
      <extension base="tns:eurotax">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "extraEquipmentIdentified" -->
  <complexType name="extraEquipmentIdentified">
    <simpleContent>
      <extension base="tns:extraEquipment">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "extraEquipmentListIdentified" -->
  <complexType name="extraEquipmentListIdentified">
    <sequence>
      <element maxOccurs="7" ref="tns:extraEquipment" />
    </sequence>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "financingIdentified" -->
  <complexType name="financingIdentified">
    <simpleContent>
      <extension base="tns:financing">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "motorIdentified" -->
  <complexType name="motorIdentified">
    <all>
      <element minOccurs="0" ref="tns:licenceYear" />
      <element minOccurs="0" ref="tns:vehicleType" />
      <element minOccurs="0" ref="tns:vehicleVendor" />
      <element minOccurs="0" ref="tns:eurotax" />
      <element minOccurs="0" ref="tns:detailedModelCode" />
      <element minOccurs="0" ref="tns:engine" />
      <element minOccurs="0" ref="tns:power" />
      <element minOccurs="0" ref="tns:cubicCapacity" />
      <element minOccurs="0" ref="tns:totalWeight" />
      <element minOccurs="0" ref="tns:payload" />
      <element minOccurs="0" ref="tns:vehicleUsage" />
      <element minOccurs="0" ref="nst:zip" />
      <element minOccurs="0" ref="tns:productionDate" />
      <element minOccurs="0" ref="tns:driverGroup" />
      <element minOccurs="0" ref="tns:vehicleValueNew" />
      <element minOccurs="0" ref="tns:seats" />
      <element minOccurs="0" ref="tns:registrationNumber" />
      <element minOccurs="0" ref="tns:dateOfOwnership" />
      <element minOccurs="0" ref="tns:insuredRegistration" />
      <element minOccurs="0" ref="tns:vin" />
      <element minOccurs="0" ref="tns:financing" />
      <element minOccurs="0" ref="nst:loanCreditor" />
      <element minOccurs="0" ref="nst:loanNumber" />
      <element minOccurs="0" ref="nst:loanAmount" />
      <element minOccurs="0" ref="nst:loanStartDate" />
      <element minOccurs="0" ref="nst:loanEndDate" />
      <element minOccurs="0" ref="nst:loanInitialRate" />
      <element minOccurs="0" type="nst:string1x70Identified" name="bmCheckFlag" />
      <element minOccurs="0" ref="tns:bmMessageList" />
      <element minOccurs="0" ref="tns:bmCheckMsgList" />
      <element minOccurs="0" ref="tns:extraEquipmentList" />
      <element minOccurs="0" ref="tns:protectionKeysCardsList" />
      <element minOccurs="0" ref="tns:protectionDeviceList" />
      <element minOccurs="0" type="nst:string1x70Identified" name="preDamages" />
      <element minOccurs="0" ref="tns:coverageList" />
    </all>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "proposalRequest" -->
  <complexType name="proposalRequest">
    <sequence>
      <element maxOccurs="1" ref="nst:header" />
      <element maxOccurs="1" ref="nst:general" />
      <element maxOccurs="1" ref="nst:partnerList" />
      <element name="motor" type="tns:motorIdentified">
        <annotation>
          <documentation>EN: "Vehicle specifications for Proposal-Request." DE: "Fahrzeugangaben fur Antragsanfrage." HU: "Jarmu eloirasok alkalmazasi kerelem."</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <!-- Type "proposalResponse" -->
  <complexType name="proposalResponse">
    <sequence>
      <element maxOccurs="1" ref="nst:header" />
      <element maxOccurs="1" ref="nst:general" />
      <element maxOccurs="1" ref="nst:partnerList" />
      <element minOccurs="0" name="motor" type="tns:motorIdentified">
        <annotation>
          <documentation>EN: "Vehicle specifications for Proposal-Response." DE: "Fahrzeugangaben fur die Antragsantwort." HU: "A jarmu muszaki alkalmazasara vonatkozo valaszt."</documentation>
        </annotation>
      </element>
      <element minOccurs="0" ref="nst:result" />
      <element minOccurs="0" ref="nst:errorList" />
    </sequence>
  </complexType>

  <!-- Type "protectionDeviceIdentified" -->
  <complexType name="protectionDeviceIdentified">
    <simpleContent>
      <extension base="tns:protectionDevice">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "protectionDeviceListIdentified" -->
  <complexType name="protectionDeviceListIdentified">
    <sequence>
      <element maxOccurs="3" ref="tns:protectionDevice" />
    </sequence>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "protectionKeysCardsListIdentified" -->
  <complexType name="protectionKeysCardsListIdentified">
    <sequence>
      <element maxOccurs="14" ref="tns:protectionKeysCards" />
    </sequence>
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <!-- Type "registrationNumberIdentified" -->
  <complexType name="registrationNumberIdentified">
    <simpleContent>
      <extension base="tns:registrationNumber">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "vehicleTypeIdentified" -->
  <complexType name="vehicleTypeIdentified">
    <simpleContent>
      <extension base="tns:vehicleType">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "vehicleUsageIdentified" -->
  <complexType name="vehicleUsageIdentified">
    <simpleContent>
      <extension base="tns:vehicleUsage">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "vehicleVendorIdentified" -->
  <complexType name="vehicleVendorIdentified">
    <simpleContent>
      <extension base="tns:vehicleVendor">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <!-- Type "vinIdentified" -->
  <complexType name="vinIdentified">
    <simpleContent>
      <extension base="tns:vin">
        <attribute name="id" type="ID" use="required" />
      </extension>
    </simpleContent>
  </complexType>


  <!-- - - - - ElementSection - - - -->

  <!-- Element "allowance" -->
  <element name="allowance" type="tns:allowanceIdentified">
    <annotation>
      <documentation>EN: "Code of allowance." DE: "Vermittlerabhaniger Rabatt." HU: "Kedvezmenyek."</documentation>
    </annotation>
  </element>

  <!-- Element "bonusMalus" -->
  <element name="bonusMalus" type="tns:bonusMalusIdentified">
    <annotation>
      <documentation>EN: "Claims category." DE: "Schadenfreiheitsklasse." HU: "Kovetelesek kategoriaban."</documentation>
    </annotation>
  </element>

  <!-- Element "bmCheckMsgList" -->
  <element name="bmCheckMsgList" type="tns:bmCheckMsgListIdentified">
    <annotation>
      <documentation>EN: "." DE: "." HU: "."</documentation>
    </annotation>
  </element>

   <!-- Element "bmMessageList" -->
   <element name="bmMessageList" type="tns:bmMessageList">
       <annotation>
           <documentation>EN: "." DE: "." HU: "."</documentation>
       </annotation>
   </element>

  <!-- Element "calculationRequest" -->
  <element name="calculationRequest" type="tns:calculationRequest">
    <annotation>
      <documentation>EN: "Motor-Calculation-Request." DE: "KFZ-Berechnung-Anfrage." HU: "Autok szamitas kerelmet."</documentation>
    </annotation>
    <key name="keyCoverageRequest">
      <selector xpath=".//tns:coverage" />
      <field xpath="nst:coverageType" />
    </key>
  </element>

  <!-- Element "calculationResponse" -->
  <element name="calculationResponse" type="tns:calculationResponse">
    <annotation>
      <documentation>EN: "Motor-Calculation-Response." DE: "KFZ-Berechnung-Antwort." HU: "Autok szamitas valasz."</documentation>
    </annotation>
    <key name="keyCoverageResponse">
      <selector xpath=".//tns:coverage" />
      <field xpath="nst:coverageType" />
    </key>
    <keyref name="keyrefCoverageResponse" refer="tns:keyCoverageResponse">
      <selector xpath=".//tns:resultCoverage" />
      <field xpath="nst:coverageType" />
    </keyref>
    <unique name="uniqueKeyrefCoverageResponse">
      <selector xpath=".//tns:resultCoverage" />
      <field xpath="nst:coverageType" />
    </unique>
  </element>

  <!-- Element "coverage" -->
  <element name="coverage" type="tns:coverageIdentified">
    <annotation>
      <documentation>EN: "Car insurance division." DE: "KFZ-Versicherungssparte." HU: "Gepjarmubiztositas korzet."</documentation>
    </annotation>
  </element>

  <!-- Element "coverageList" -->
  <element name="coverageList" type="tns:coverageListIdentified">
    <annotation>
      <documentation>EN: "Coverage list." DE: "Liste der Versicherungssparten." HU: "???"</documentation>
    </annotation>
  </element>

  <!-- Element "cubicCapacity" -->
  <element name="cubicCapacity" type="nst:natural1x5Identified">
    <annotation>
      <documentation>EN: "Displacement." DE: "Hubraum." HU: "Elmozdulas."</documentation>
    </annotation>
  </element>

  <!-- Element "dateOfOwnership" -->
  <element name="dateOfOwnership" type="nst:dateIdentified">
    <annotation>
      <documentation>EN: "Date of ownership." DE: "Kaufdatum." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "deductibleCode" -->
  <element name="deductibleCode" type="tns:deductibleCodeIdentified">
    <annotation>
      <documentation>EN: "Deductible code." DE: "Selbstbehalt Code." HU: "Levonhato-kod."</documentation>
    </annotation>
  </element>

  <!-- Element "detailedModelCode" -->
  <element name="detailedModelCode" type="tns:detailedModelCodeIdentified">
    <annotation>
      <documentation>EN: "Detailed model code." DE: "Detailed model code." HU: "Detailed model code."</documentation>
    </annotation>
  </element>

  <!-- Element "driverGroup" -->
  <element name="driverGroup" type="nst:falseTrueIdentified">
    <annotation>
      <documentation>EN: "Group of drivers." DE: "Fahrerkreis." HU: "Vezetok kore."</documentation>
    </annotation>
  </element>

  <!-- Element "engine" -->
  <element name="engine" type="tns:engineIdentified">
    <annotation>
      <documentation>EN: "Type of engine." DE: "Antriebsart." HU: "A motor tipusa."</documentation>
    </annotation>
  </element>

  <!-- Element "eurotax" -->
  <element name="eurotax" type="tns:eurotaxIdentified">
    <annotation>
      <documentation>EN: "Eurotax code." DE: "Eurotaxcode." HU: "Eurotax kod."</documentation>
    </annotation>
  </element>

  <!-- Element "extraEquipment" -->
  <element name="extraEquipment" type="tns:extraEquipmentIdentified">
    <annotation>
      <documentation>EN: "Extra equipment." DE: "Sonderaustattung." HU: "Opcionalis berendezesek."</documentation>
    </annotation>
  </element>

  <!-- Element "extraEquipmentList" -->
  <element name="extraEquipmentList" type="tns:extraEquipmentListIdentified">
    <annotation>
      <documentation>EN: "Extra equipment list." DE: "Sonderausstatung Liste." HU: "Extra felszerelések listája."</documentation>
    </annotation>
  </element>

  <!-- Element "financing" -->
  <element name="financing" type="tns:financingIdentified">
    <annotation>
      <documentation>EN: "financing." DE: "Finanzierung." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "insuredRegistration" -->
  <element name="insuredRegistration" type="nst:dateIdentified">
    <annotation>
      <documentation>EN: "Admission date to policyholders." DE: "Zulassungsdatum auf Versicherten." HU: "Felveteli idopontja a kotvenytulajdonosok."</documentation>
    </annotation>
  </element>

  <!-- Element "licenceYear" -->
  <element name="licenceYear" type="nst:natural4Identified">
    <annotation>
      <documentation>EN: "Year of license acquisition." DE: "Jahr des Fuhrerscheinerwerbs." HU: "Eve engedely megszerzese."</documentation>
    </annotation>
  </element>

  <!-- Element "payload" -->
  <element name="payload" type="nst:natural1x5Identified">
    <annotation>
      <documentation>EN: "Payload." DE: "Nutzlast." HU: "Hasznos teher."</documentation>
    </annotation>
  </element>

  <!-- Element "power" -->
  <element name="power" type="nst:natural1x5Identified">
    <annotation>
      <documentation>EN: "Engine power in KW." DE: "Motorleistung in KW." HU: "Motorteljesitmeny KW."</documentation>
    </annotation>
  </element>

  <!-- Element "productionDate" -->
  <element name="productionDate" type="nst:dateIdentified">
    <annotation>
      <documentation>EN: "Year of vehicle production." DE: "Jahr der Fahrzeugproduktion." HU: "Ev jarmugyartas."</documentation>
    </annotation>
  </element>

  <!-- Element "proposalRequest" -->
  <element name="proposalRequest" type="tns:proposalRequest">
    <annotation>
      <documentation>EN: "Motor-Proposal-Request." DE: "KFZ-Antrag-Anfrage." HU: "Autoipari alkalmazasi kerelem."</documentation>
    </annotation>
    <key name="keyProposalRequestCoverage">
      <selector xpath=".//tns:coverage" />
      <field xpath="nst:coverageType" />
    </key>
  </element>

  <!-- Element "proposalResponse" -->
  <element name="proposalResponse" type="tns:proposalResponse">
    <annotation>
      <documentation>EN: "Motor-Proposal-Response." DE: "KFZ-Antrag-Antwort." HU: "Auto keres valasz."</documentation>
    </annotation>
    <key name="keyProposalResponseCoverage">
      <selector xpath=".//tns:coverage" />
      <field xpath="nst:coverageType" />
    </key>
    <keyref name="keyrefProposalResponse" refer="tns:keyProposalResponseCoverage">
      <selector xpath=".//nst:resultCoverage" />
      <field xpath="nst:coverageType" />
    </keyref>
    <unique name="uniqueKeyrefProposalResponse">
      <selector xpath=".//nst:resultCoverage" />
      <field xpath="nst:coverageType" />
    </unique>
  </element>

  <!-- Element "protectionDevice" -->
  <element name="protectionDevice" type="tns:protectionDeviceIdentified">
    <annotation>
      <documentation>EN: "Protection Device." DE: "Diebstahlsicherung." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "protectionDeviceList" -->
  <element name="protectionDeviceList" type="tns:protectionDeviceListIdentified">
    <annotation>
      <documentation>EN: "Protection Device list." DE: "Diebstahlsicherung Liste." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "protectionKeysCards" -->
  <element name="protectionKeysCards" type="nst:string1x10Identified">
    <annotation>
      <documentation>EN: "Protection Keys Cards." DE: "Sicherungsmechanismen." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "protectionKeysCardsList" -->
  <element name="protectionKeysCardsList" type="tns:protectionKeysCardsListIdentified">
    <annotation>
      <documentation>EN: "Protection Keys Cards list." DE: "Sicherungsmechanismen Liste." HU: "."</documentation>
    </annotation>
  </element>

  <!-- Element "registrationNumber" -->
  <element name="registrationNumber" type="tns:registrationNumberIdentified">
    <annotation>
      <documentation>EN: "Registration number." DE: "Registrationsnummer." HU: "Nyilvantartasi szam."</documentation>
    </annotation>
  </element>

  <!-- Element "seats" -->
  <element name="seats" type="nst:natural1x3Identified">
    <annotation>
      <documentation>EN: "Number of seats." DE: "Anzahl der Sitzplatze." HU: "Ulohelyek szama."</documentation>
    </annotation>
  </element>

  <!-- Element "totalWeight" -->
  <element name="totalWeight" type="nst:natural1x5Identified">
    <annotation>
      <documentation>EN: "Total weight." DE: "Gesamtgewicht." HU: "Osszsuly."</documentation>
    </annotation>
  </element>

  <!-- Element "vehicleType" -->
  <element name="vehicleType" type="tns:vehicleTypeIdentified">
    <annotation>
      <documentation>EN: "Risk class." DE: "Wagnisklasse." HU: "Kockazati osztaly."</documentation>
    </annotation>
  </element>

  <!-- Element "vehicleUsage" -->
  <element name="vehicleUsage" type="tns:vehicleUsageIdentified">
    <annotation>
      <documentation>EN: "Vehicle use." DE: "Art der Verwendung." HU: "Hasznalat modja."</documentation>
    </annotation>
  </element>

  <!-- Element "vehicleValueNew" -->
  <element name="vehicleValueNew" type="nst:natural1x15Identified">
    <annotation>
      <documentation>EN: "Value as new." DE: "Neuwert." HU: "Ujkori ertek."</documentation>
    </annotation>
  </element>

  <!-- Element "vehicleVendor" -->
  <element name="vehicleVendor" type="tns:vehicleVendorIdentified">
    <annotation>
      <documentation>EN: "Manufacturer." DE: "Hersteller." HU: "Marka."</documentation>
    </annotation>
  </element>

  <!-- Element "vin" -->
  <element name="vin" type="tns:vinIdentified">
    <annotation>
      <documentation>EN: "Vehicle identification number." DE: "Fahrzeugidentifikationsnummer." HU: "A jarmu azonositasi szama."</documentation>
    </annotation>
  </element>

</schema>